.flip-card-front, .flip-card-back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.gameSection {
	background-color: #ffffcd;
    opacity: 0.8;
    position: absolute;
    width: 298px;
    left: 1px;
    z-index: 1;
}

.gameSection1 {
	top:1px;
	height: 142px;
}

.gameSection2, .gameSection3 {
	top: 151px;
	height: 81px;
}

.gameSection4 {
	top: 241px;
	height: 214px;
}

.removeCard, .helpImage {
	right: -20px;
	top: -20px;
}

.helpColor {
    padding-right: 22px;
}

.easyColor.helpColor {
    color: #29a00c;
}

.standardColor.helpColor {
    color: #e27e01
}

.hardColor.helpColor {
	color: #f00;
}

@media screen and (min-width: 600px) and (max-width: 949px) {

	.gameSection {
		width: 43.3vw;
		left: .1vw;
	}
	
	.gameSection1 {
		top: .1vw;
		height: 20.7vw;
	}
	
	.gameSection2, .gameSection3 {
		top: 21.9vw;
		height: 11.8vw;
	}
	
	.gameSection4 {
		top: 34.9vw;
		height: 31.3vw;
	}

	.removeCard, .helpImage {
		right: -3vw;
		top: -3vw;
	}

	.helpColor {
		padding-right: 3vw;
	}

}

@media screen and (max-width: 599px) {


	.layer:not(#startLayer) p {
		text-align: center;
		font-size: 5vw;
	}

	.gameSection {
		width: 55.6vw;
		left: .1vw;
	}
	
	.gameSection1 {
		top: .3vw;
		height: 26.4vw;
	}
	
	.gameSection2, .gameSection3 {
		top: 28.3vw;
		height: 15.2vw;
	}
	
	.gameSection4 {
		top: 45vw;
		height: 41.2vw;
	}

	.removeCard, .helpImage {
		right: -5vw;
		top: -5vw;
	}

	.helpColor {
		padding-right: 5vw;
	}

}
