/* .el-to-clear:after{
    content: " ";
    display:block;
    clear:both;
    height:0;
} */



/* 
    __                      __ _              
   / /   ____   ____ _ ____/ /(_)____   ____ _
  / /   / __ \ / __ `// __  // // __ \ / __ `/
 / /___/ /_/ // /_/ // /_/ // // / / // /_/ / 
/_____/\____/ \__,_/ \__,_//_//_/ /_/ \__, /  
    __                               /____/   
   / /   ____ _ __  __ ___   _____            
  / /   / __ `// / / // _ \ / ___/            
 / /___/ /_/ // /_/ //  __// /                
/_____/\__,_/ \__, / \___//_/ 
             /____/                           
            
*/

#loaderLayer {
    display: block;
    padding-top: 0px;
    height: 80vh;
}

#loaderLayer .loader-parent {
    padding: 0px;
    display: block;
    color: #e5e5e4;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
    top: 40%;
    left: 50%;
}

#loaderLayer .loader-parent .loader-container {
    max-width: 960px;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

#loaderLayer .loader-parent .loader-container .loader-wrapper {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

#loaderLayer .loader-parent .loader-container .loader-wrapper .loading-message {
    font-weight: bold;
    color: #3eaf56;
    font-size: 22px;
}

#loaderLayer .loader-parent .loader-container .loader-wrapper .loader.is-loading {
    height: 180px;
    width: 180px;
    opacity: 1;
    z-index: 1;
    -webkit-animation: spinAround 1s infinite linear;
    animation: spinAround 1s infinite linear;
    border: 4px solid #3eaf56;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    position: absolute;
}

@-webkit-keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* 
    __                      __ _              
   / /   ____   ____ _ ____/ /(_)____   ____ _
  / /   / __ \ / __ `// __  // // __ \ / __ `/
 / /___/ /_/ // /_/ // /_/ // // / / // /_/ / 
/_____/\____/ \__,_/ \__,_//_//_/ /_/ \__, /  
    __                               /____/   
   / /   ____ _ __  __ ___   _____            
  / /   / __ `// / / // _ \ / ___/            
 / /___/ /_/ // /_/ //  __// /                
/_____/\__,_/ \__, / \___//_/ 
             /____/                           
            
*/

p, ol, li, a, h3, td, tr, div {
    font-family: 'Roboto Condensed', sans-serif!important;
}

#mapImage, .routeImg {
    width: 300px;
}

#mapImage {
    padding: 0px 20px 20px 20px;
    width: 340px;
    box-sizing: border-box;
    float: left;
    position: relative;
}

#mapOverlay {
    position: absolute;
    top: 61.6px;
    left: 39px;
    width: 262px;
}

#mapOverlay div {
    width: 87px;
    height: 56.9px;
    float: left;
    margin: 0px 0px 0px 0px;
    cursor:hand;
    cursor:pointer;
}

.iOS #mapOverlay div {
    height: 57px!important;
}

.routeImg {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #AAA;
}

.tradingPost {
    background-color: rgba(144, 85, 0, 0.4);
}

#map img {
    border-radius: 9px;
}

.setupDifferences {
	color:red;
}

@media screen and (min-width: 600px) and (max-width: 949px) {

    #mapImage {
        width: 52vw;
        margin: 0 auto;
        float: none;
    }

    .routeImg {
        width: 45vw;
    }

    #mapOverlay {
        top: 9.35vw;
        left: 6vw;
        width: 40.5vw;
    }

    #mapOverlay div {
        width: 13.4vw;
        height: 8.5vw;
    }

    .iOS #mapOverlay div {
        height: 8.55vw!important;
    }

}

@media screen and (max-width: 599px) {

	#mapImage {
        padding: 0px 1vw 1vw 1vw;
        width: 54vw;
        float: none;
        margin: 0 auto;
    }

    #mapOverlay {
        top: 10.95vw;
        left: 4.5vw;
        width: 46vw;
    }

    #mapOverlay div {
        width: 15.3vw;
        height: 9.9vw;
    }

    .iOS #mapOverlay div {
        height: 9.97vw!important;
    }

    #mapImage, .routeImg {
        width: 52.5vw;
    }

}
