body {
	padding-bottom:50px;
}

.layer {
	display:none;
}

#frontPageGameInstructionsButton {
	display: block;
	margin:0 auto;
}

#setupLayer {
	display: block;
	margin-top: 10px;
}

.title.is-5 {
	margin-bottom:10px;
}

#container {
	width:960px;
	max-width:90%;
	margin:0 auto;
}

.title {
	text-align: center;
	margin:20px 0px 0px!important;
}

.title img {
	width: 190px;
    margin-bottom: 0px;
}

.subtitle {
	font-style: italic;
	text-align:center;
}

.lowerVarianceCheckboxContainer, .familyCheckboxContainer {
    margin: 10px auto 30px;
    height: 31px;
}

.lowerVarianceCheckboxContainer {
    width: 213px;
}

.familyCheckboxContainer {
    width: 153px;
}

ion-icon[name="help-circle-outline"] {
	font-size: 24px;
    margin-bottom: -2px;
    margin-left: 1px;
    cursor: pointer;
    cursor: hand;
}

.lowerVarianceCheckboxContainer #lowerVarianceOption, .familyCheckboxContainer .familyOption {
	float:left;
}

.lowerVarianceCheckboxContainer #lowerVarianceOptionLabel, .familyCheckboxContainer .familyOptionLabel {
	float:right;
}

/* The container */
.checkboxEl {
	display: block;
	position: relative;
	margin-top: 6px;
	cursor: pointer;
	/* font-size: 22px; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxEl input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxEl:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxEl input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkboxEl input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkboxEl .checkmark:after {
	left: 7px;
	top: 2px;
	width: 7px;
	height: 13px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#lowerVarianceModal .patchTile {
    height: auto;
    max-width: 100%;
    width: 90px;
    margin: 10px;
}

#gameOptions {
	margin-bottom:0px;
}

.gameOptionBox {
	display:none;
	padding-bottom:40px;
}

.showOptionBox {
	display:block!important;
}

#patchTileVarianceParentContainer {
	width: 340px;
	margin: 20px auto 10px;
}

#patchTileVarianceParentContainer .patchTileVarianceContainer {
	float:left;
	position: relative;
}

#patchTileVarianceParentContainer .patchTileVarianceContainer .patchTile, #patchTileVarianceParentContainer .patchTileVarianceContainer .patchTile.inactive:not(.lockedTile):hover {
	opacity: 1;
}

#patchTileVarianceParentContainer .patchTileVarianceContainer .patchTile.inactive {
	opacity: 0.5;
}

#patchTileVarianceParentContainer .patchTileVarianceContainer .patchTile.inactive:not(.lockedTile) {
	cursor:hand;
	cursor:pointer;
}

#patchTileVarianceParentContainer .patchTileVarianceContainer .checkmarkIcon {
    color: green;
    position: absolute;
    right: 10px;
    bottom: 12px;
    font-size: 23px;
}

#lowerVarianceModal .buttons {
	width: 265px;
    margin: 20px auto;
}

#lowerVarianceModal .buttons .button {
	width: 110px;
	margin: 0px 10px;
}

#beginnerGameCatsContainer, #standardGameCatsContainer {
    width: 690px;
    margin: 0px auto 50px;
}

#standardGameCatsContainer .catsAndGoalPatternsContainer .catGoal {
	cursor:hand;
	cursor:pointer;
}

#beginnerGameGoalsContainer .nonFamilyGoals, #beginnerGameGoalsContainer .familyGoals, #standardGameGoalsContainer .familyGoals {
	width: 360px;
    margin: 0px auto 20px;
}

#standardGameGoalsContainer .nonFamilyGoals {
	width: 480px;
    margin: 0px auto 20px;
}

.beginnerSetup p, .standardSetup p {
	margin-bottom:20px;
}

.gameOptionBox .catsAndGoalPatternsContainer {
    position: relative;
    height: 210px;
    width: 210px;
	float: left;
	margin: 0px 10px;
}

.gameOptionBox .catsAndGoalPatternsContainer .catGoal {
	width:200px;
	margin:0 10px;
}

#standardGameCatsContainer.gameOptionBox .catsAndGoalPatternsContainer .catGoal {
	cursor:hand;
	cursor:pointer;
}

.gameOptionBox .catsAndGoalPatternsContainer .scoringPatternTile {
	position: absolute;
	width: 74px;
    top: 103px;
}

.gameOptionBox .catsAndGoalPatternsContainer .scoringPatternTile.leftScoringTile {
	left: 32px;
}

.gameOptionBox .catsAndGoalPatternsContainer .scoringPatternTile.rightScoringTile {
    right: 23px;
}

.gameOptionBox .goalTile {
	width:100px;
    margin: 0 10px 0px;
	float:left;
}

#beginnerGameGoalsContainer .familyGoals, #standardGameGoalsContainer .familyGoals {
	display:none;
}

.catsAndGoalPatternsContainer {
	position:relative;
}

#randomizeBeginnerGoalPatterns {
	margin: 0 auto;
}

#randomizeCatsPatternsButtonContainer {
	margin: 0 auto;
    width: 340px;
}

#randomizeCatsPatternsButtonContainer .button {
	margin: 0px 10px;
}

.imageButton img {
    height: 23px;
    margin-left: 10px;
    margin-top: 0px;
}

#randomizeStandardGoalTiles {
	margin: 20px auto 10px;
}

.gameBoardSetup {
	width: 820px;
    margin: 0 auto 30px;
}

.gameBoardSetup .boardContainer {
	width: 380px;
    float: left;
	margin: 15px;
	cursor:pointer;
	cursor:hand;
	opacity: 1;
	position:relative;
}

.gameBoardSetup .boardContainer .boardImage, .gameBoardSetup .boardContainer .boardImage.inactive:hover {
	opacity: 1;
}

.gameBoardSetup .boardContainer .boardImage.inactive {
	opacity: .8;
}

.gameBoardSetup .boardContainer .checkmarkIcon {
	color: green;
    position: absolute;
    font-size: 50px;
    bottom: 43%;
    right: 40%;
}

.chooseRandomBoard, #startBeginnerGame, #standardSummaryPage, #standardStartGameSkipSummary, #standardStartGame {
	margin:0 auto;
}

#startBeginnerGame, #standardStartGameSkipSummary, #standardStartGame, #standardSummaryPage {
	width: 142px;
}

#standardStartGameSkipSummaryContainer {
	display:none;
}

.scenarioContainer {
	position:relative;
	float: left;
}

.scenarioContainer .scenario {
    width: 410px;
    margin: 25px;
}

.scenarioContainer .scenario:not(.inactive) {
	cursor:hand;
	cursor:pointer;
}

.scenarioContainer .scenario.inactive {
	opacity:.5;
}


#confirmChosenScenario {
	margin:0 auto;
}

#scenariosOptionContainer .scenarioContainer .checkmarkIcon {
    color: green;
    position: absolute;
    right: 5px;
    bottom: 6px;
    font-size: 43px;
}

#chooseScenarioContainer {
	display:block;
}

#scenarioDetailsContainer {
	display:none;
}

#scenarioDetailsSummaryPic {
    width: 540px;
    margin: 10px auto 40px;
    display: block;
}

#scenarioDetailsCatsContainer {
    width: 720px;
    margin: 0 auto;
}

#scenarioDetailsCatsContainer .catsAndGoalPatternsScenarioContainer {
	float: left;
    margin: 0px 10px;
    width: 220px;
    position: relative;
    height: 220px;
}

#scenarioDetailsCatsContainer .catsAndGoalPatternsScenarioContainer .scoringPatternTile {
    position: absolute;
    width: 74px;
    bottom: 21px;
}

#scenarioDetailsCatsContainer .catsAndGoalPatternsScenarioContainer .scoringPatternTile.leftScoringTile {
    left: 28px;
}

#scenarioDetailsCatsContainer .catsAndGoalPatternsScenarioContainer .scoringPatternTile.rightScoringTile {
    right: 29px;
}

#scenarioDetailsCatsContainer .scenarioDetailsCatGoal .scoringPatternTile {
    position: absolute;
    width: 74px;
    top: 103px;
}

#scenarioDetailsButtonsContainer {
    width: 272px;
    margin: 0 auto;
}

#scenarioDetailsButtonsContainer .button {
	width: 111px;
    margin: 0px 12px;
}

#scenarioDetailsCatsContainer .buttons {
	width: 144px;
    margin: 0 auto;
}

#scenarioGoalsList {
	width: 430px;
    margin: 13px auto 40px;
}

#scenarioGoalsList li {
	list-style: disc;
	font-size:18px;
}

#scenarioButtonsContainer {
	display:none;
	width: 326px;
    margin: 20px auto 0px;
}

#scenarioButtonsContainer .button {
	width: 140px;
    margin: 0px 10px;
}

#gameScenarioGoalList {
	width: 430px;
    margin: 30px auto;
}

#gameScenarioGoalList li {
	list-style: disc;
}

#backToScenarioListTop {
	margin: 10px auto;
    display: block;
}

.bold {
	font-weight:bold;
}

.underline {
	text-decoration: underline;
}

#summaryInstructions, #gameInstructions {
	margin: 20px 0px;
}

#goalTilesSummaryContainer {
    width: 92px;
    float: left;
    padding-top: 11px;
}

#goalTilesSummaryContainer .goalTileSummaryContainer {
	position: relative;
    margin-bottom: 8px;
}

#goalTilesSummaryContainer .goalTileSummaryContainer .goalTileSummary.selectable {
	cursor:pointer;
	cursor:hand;
}

#goalTilesSummaryContainer .goalTileSummaryContainer .activeSummaryTile {
	position:absolute;
	width: 92px;
	top:0px;
	left:0px;
}

#boardSummaryContainer {
    width: 600px;
    float: left;
	margin-left: 40px;
	position: relative;
}

#boardSummaryContainer .potentialSummaryPlacementTile {
    position: absolute;
	width: 79px;
	cursor:pointer;
	cursor:hand;
	display:none;
}

#boardSummaryContainer #potentialTile-1.potentialSummaryPlacementTile {
	top: 122px;
    left: 240px;
}

#boardSummaryContainer #potentialTile-2.potentialSummaryPlacementTile {
	top: 196px;
    left: 371px;
}

#boardSummaryContainer #potentialTile-3.potentialSummaryPlacementTile {
	top: 272px;
	left: 152px;
}

#boardSummaryContainer .finalizedGoalTileSummaryContainer {
    position: absolute;
}

#boardSummaryContainer .finalizedGoalTileSummaryContainer .finalizedGoalTileSummary {
    width: 89px;
}

#boardSummaryContainer #finalGoalTile-1.finalizedGoalTileSummaryContainer {
	top: 114px;
    left: 235px;
}

#boardSummaryContainer #finalGoalTile-2.finalizedGoalTileSummaryContainer {
	top: 190px;
    left: 367px;
}

#boardSummaryContainer #finalGoalTile-3.finalizedGoalTileSummaryContainer {
    top: 264px;
    left: 147px;
}

#catsPatternGoalsSummary {
	width: 200px;
    float: left;
    margin-left: 20px;
}

#catsPatternGoalsSummary .catPatternGoal {
	width: 170px;
    height: 150px;
    float: left;
    margin: 10px 20px 0px;
    position: relative;
}

#catsPatternGoalsSummary .summaryScoringTile {
    width: 56px;
    top: 88px;
    position: absolute;
}

#catsPatternGoalsSummary .summaryScoringTile.leftSummaryScoringTile {
    left: 22px;
}

#catsPatternGoalsSummary .summaryScoringTile.rightSummaryScoringTile {
	right: 22px;
}

#summaryLayer .buttons {
    width: 547px;
    margin: 20px auto 0px;
}

#summaryLayer .buttons .button {
	width: 115px;
    margin: 0px 10px;
}

#gameButtonsContainer {
	width: 141px;
    margin: 20px auto 0px;
}

#gameButtonsContainer .button {
	width: 120px;
    margin: 0px 10px;
}

#boardGoalTilesGameContainer {
    width: 830px;
    margin: 22px auto 0px;
}

#boardGameContainer {
    width: 495px;
    float: left;
    position: relative;
    margin-top: 0px;
}

#boardGameContainer .catPaw {
    position: absolute;
    z-index: 0;
    width: 60px;
    top: 10px;
    left: 252px;
	transition: all 1s ease-in-out;
	z-index:-1;
}

#boardGameContainer .catPaw.active {
	top: -89px;
}

#colorButtonsContainer {
	float: left;
	width: 46px;
	margin: 148px 32px 0px 0px;
	position:relative;
}

#colorButtonsContainer .colorButton {
	width: 46px;
	position:absolute;
	z-index:0;
	cursor:hand;
	cursor:pointer;
}

#colorButtonsContainer #rainbowButton, #colorButtonsContainer #rainbowButtonOverlay {
	display:none;
	width: 46px;
	top: -50px;
	position:absolute;
	cursor:hand;
	cursor:pointer;
}

#colorButtonsContainer #rainbowButton {
	z-index:0;
}

#colorButtonsContainer #rainbowButtonOverlay {
	z-index:1;
}

.shadowRainbow, .rainbowBoardButtonToken {
    position: absolute;
    top: 22px;
    left: 11px;
    width: 50px;
}

.rainbowButtonPotential {
	cursor:pointer;
	cursor:hand;
}

.animatedButton {
	width: 35px;
	top: 20px;
    left: 19px;
	position:absolute;
	z-index:1;
	cursor:hand;
	cursor:pointer;
}

.boardTileOverlay.colorTileOverlay.buttonPreview .shadowButton {
	width: 35px;
    position: absolute;
    top: 20px;
    left: 19px;
}

#boardGameContainer #boardGameOverlayContainer .boardTileOverlay .boardButtonToken {
	width: 35px;
    position: absolute;
    top: 20px;
    left: 19px;
}

#boardGameContainer #boardGameOverlayContainer .boardTileOverlay .boardCatToken {
	position: absolute;
    top: 18px;
    left: 8px;
    width: 55px;
}

#colorButtonsContainer .colorButton.buttonOverlay {
	z-index:1;
}

#boardGameOverlayContainer .boardTileOverlay.colorTileOverlay.buttonPreview {
	cursor:pointer;
	cursor:hand;
}

#colorButtonsContainer #button-1.colorButton, #colorButtonsContainer #buttonOverlay-1.colorButton, #colorButtonsContainer #animatedButton-1.animatedButton {
	top:0px;
}

#colorButtonsContainer #button-2.colorButton, #colorButtonsContainer #buttonOverlay-2.colorButton, #colorButtonsContainer #animatedButton-2.animatedButton {
	top: 59px;
}

#colorButtonsContainer #button-3.colorButton, #colorButtonsContainer #buttonOverlay-3.colorButton, #colorButtonsContainer #animatedButton-3.animatedButton {
	top: 119px;
}

#colorButtonsContainer #button-4.colorButton, #colorButtonsContainer #buttonOverlay-4.colorButton, #colorButtonsContainer #animatedButton-4.animatedButton {
	top: 196px;
}

#colorButtonsContainer #button-5.colorButton, #colorButtonsContainer #buttonOverlay-5.colorButton, #colorButtonsContainer #animatedButton-5.animatedButton {
    top: 255px;
}

#colorButtonsContainer #button-6.colorButton, #colorButtonsContainer #buttonOverlay-6.colorButton, #colorButtonsContainer #animatedButton-6.animatedButton {
	top: 315px;
}

#catsPatternGoalsGame {
    width: 205px;
    float: left;
    margin-left: 20px;
}

#catsPatternGoalsGame .catPatternGoal {
    width: 180px;
    height: 160px;
    float: left;
    margin: 10px 20px 10px;
	position: relative;
}

#catsPatternGoalsGame .catPatternGoal:not(.locked) {
	cursor:pointer;
	cursor:hand;
}

#catsPatternGoalsGame .catPatternGoal .catGameToken {
    position: absolute;
    top: 5px;
    left: 56px;
    width: 70px;
	display:none;
}

#catsPatternGoalsGame .catPatternGoal .catGameToken.active {
    position: absolute;
    top: 5px;
    left: 56px;
    width: 70px;
	display:block;
}

.boardTileOverlay.colorTileOverlay.catButtonPreview {
	cursor:hand;
	cursor:pointer;
}

.boardTileOverlay .shadowCat {
    position: absolute;
    top: 22px;
    left: 13px;
    width: 45px;
}

.animatedCat {
    position: absolute;
	top: 18px;
	left: 8px;
    width: 55px;
}

/* position: absolute;
top: 18px;
left: 8px;
width: 55px; */
	
#catsPatternGoalsGame .gameScoringTile {
	width: 59px;
    top: 93px;
    position: absolute;
}

#catsPatternGoalsGame .gameScoringTile.leftGameScoringTile {
	left: 24px;
}

#catsPatternGoalsGame .gameScoringTile.rightGameScoringTile {
	right: 25px;
}

#tilesAndBoardContainer {
    height: 530px;
    width: 500px;
    float: left;
}

#endGameContainer {
    display: none;
    height: 120px;
    position: relative;
    z-index: 1;
    background-color: #FFF;
}

#endGameContainer p {
	width: 310px;
    position: absolute;
    top: 10px;
    left: 90px;
}

#endGameContainer #calculateScoreButton {
	position: absolute;
    top: 70px;
    left: 183px;
    width: 120px;
}

#displayTilesContainer {
    float: left;
    width: 458px;
    margin-left: 19px;
}

#displayTilesContainer #usersTilesContainer {
    float: left;
    width: 152px;
}

#displayTilesContainer #marketTilesContainer {
    float: right;
    width: 233px;
}

#displayTilesContainer .gameTileContainer .gameTiles {
	position: relative;
    height: 105px;
    overflow: hidden;
}

#displayTilesContainer .gameTileContainer .gameTiles .gameTile {
    width: 72px;
    height: 82px;
	position:absolute;
	top:0px;
	transition: all 1s ease-in-out;
	z-index:0;
	opacity: 1;
}

#displayTilesContainer .gameTileContainer .gameTiles .gameTile.tempZIndex {
	z-index:-2;
}

#displayTilesContainer #usersTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-1 {
	left:0px;
}

#displayTilesContainer #usersTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-2 {
	left:80px;
}

#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-1 {
	left:0px;
}

#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-2 {
    left: 80px;
}

#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-3 {
	left:160px;
}

#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.newGameTile-1 {
	left: 240px;
}

#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.newGameTile-2 {
	left: 320px;
}


#displayTilesContainer .gameTileContainer .gameTiles .gameTile.activeGameTiles {
	cursor:hand;
	cursor:pointer;
}

#displayTilesContainer .gameTileContainer .gameTiles .gameTile:not(.activeGameTiles) {
	opacity: .5;
}

#marketTilesContainer .gameTiles .gameTile.removeTile {
	top:105px!important;
}

#displayTilesContainer .gameTileContainer .gameTiles .activeGameTile {
	position:absolute;
    top: 0px;
	width: 72px;
	height: 82px;
	transition: all 1s ease-in-out;
}

#displayTilesContainer .gameTileContainer .gameTiles #activeGameTile-1.activeGameTile {
	left:0px;
}

#displayTilesContainer .gameTileContainer .gameTiles #activeGameTile-2.activeGameTile {
	right:0px;
}

#displayTilesContainer .gameTileContainer .tileContainerLabel {
	margin-bottom:10px;
}

.boardTileOverlay {
    position: absolute;
}

.boardTileOverlay .boardTileOverlayTile, .boardTileOverlay .shadowTile {
    width: 72px;
    height: 82px;
}

.animatedGameTile {
	width: 72px;
	height: 82px;
	position:absolute;
	top:0px;
	left:0px;
}

.animatedGameTile.animatedMarketTile {
	opacity:.5;
}

.boardTileOverlay .shadowTile {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: .5;
}

.boardTileOverlay.transparentTileOverlay.tilePreview {
	cursor:hand;
	cursor:pointer;
}

#row-1-column-1 {
	top: 35px;
    left: 86px;
}

#row-1-column-2 {
    top: 35px;
    left: 158px;
}

#row-1-column-3 {
    top: 35px;
    left: 230px;
}

#row-1-column-4 {
	top: 35px;
    left: 302px;
}

#row-1-column-5 {
	top: 35px;
    left: 374px;
}

#row-2-column-1 {
	top: 96px;
    left: 50px;
}

#row-2-column-2 {
	top: 96px;
    left: 122px;
}

#row-2-column-3 {
	top: 96px;
    left: 194px;
}

#row-2-column-4 {
    top: 96px;
    left: 265px;
}

#row-2-column-5 {
    top: 96px;
    left: 337px;
}

#row-3-column-1 {
    top: 158px;
    left: 86px;
}

#row-3-column-2 {
	top: 158px;
    left: 158px;
}

#row-3-column-3 {
    top: 158px;
    left: 230px;
}

#row-3-column-4 {
	top: 158px;
    left: 302px;
}

#row-3-column-5 {
    top: 158px;
    left: 373px;
}

#row-4-column-1 {
	top: 220px;
    left: 49px;
}

#row-4-column-2 {
	top: 220px;
    left: 122px;
}

#row-4-column-3 {
	top: 220px;
    left: 195px;
}

#row-4-column-4 {
    top: 220px;
    left: 267px;
}

#row-4-column-5 {
	top: 220px;
    left: 338px;
}

#row-5-column-1 {
    top: 282px;
    left: 85px;
}

#row-5-column-2 {
	top: 282px;
    left: 157px;
}

#row-5-column-3 {
    top: 282px;
    left: 229px;
}

#row-5-column-4 {
	top: 282px;
    left: 301px;
}

#row-5-column-5 {
    top: 282px;
    left: 373px;
}

.clearDiv {
	clear:both;
}

.instructionContainer {
	display:none;
}

#instructionCategories .instructionsIcon {
    height: 40px;
    margin-right: 10px;
}

.instructionContainer .instructionalImage {
    border: 1px solid #000;
    margin: 20px auto;
    display: block;
}

.instructionContainer .instructionalImage.largeImg {
    width: 70%;
}

.instructionContainer .instructionalImage.mediumImg {
    width: 50%;
}

#scoringContent .scoringTable {
    float: left;
    margin-left: 39px;
}

#scoringContent #finalCatButtonsScoringTable td .buttonCatScoringToken {
	width: 120px;
    float: left;
}

#scoringContent #finalCatButtonsScoringTable td .buttonCatMultiplier {
    float: left;
    margin: 10px 15px 0px 19px;
}

#scoringContent #finalGoalTilesScoringTable td .endGameScoringTile {
	width: 79px;
    margin: 0px 26px 0px 29px;
}

#scoringContent .scoringTable td p {
    font-size: 26px;
}

#scoringContent #finalCatButtonsScoringTable td .scoreAmount {
    text-align: center;
    width: 100%;
	margin-top: 10px;
	font-weight:bold;
}

#scoringContent #finalGoalTilesScoringTable td .scoreAmount {
    text-align: center;
    width: 100%;
    margin-top: 26px;
    font-weight: bold;
}

#finalScoreNumberHeading {
	margin: 0px 0px 20px 0px!important;
}

#instructionsHelpModal .modal-card {
    width: 800px;
}

.modalLink {
	color: #0099ff;
	text-decoration: none;
	cursor:hand;
	cursor:pointer;
}

@media screen and (max-width: 1085px) {
	.scenarioContainer .scenario {
		width: 350px;
	}

	#boardSummaryContainer {
		width: 500px;
	}
}


@media screen and (max-width: 959px) {

	.modal-card, .modal-content {
		margin: 0 1vw;
	}

	.modal-card-head {
		border-bottom: .1vw solid #dbdbdb;
		border-top-left-radius: 1vw;
		border-top-right-radius: 1vw;
	}

	.modal-card-foot, .modal-card-head {
		padding: 2vw;
	}

	.modal-card-body {
		padding: 3vw;
	}

	.table.is-bordered td, .table.is-bordered th {
		border-width: .1vw;
	}

	.table td, .table th {
		border: .1vw solid #dbdbdb;
		border-width: 0 0 .1vw;
		padding: .9vw 1.85vw;
		vertical-align: top;
	}

	.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .highlight:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
		margin-bottom: 1vw;
	}

	.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
		border: .05vw solid transparent;
		border-radius: 1vw;
	}

	html {
		min-width: 0px;
	}

	#setupLayer {
		margin-top: 1vw;
	}

	.box {
		padding: 2vw 2vw 7vw 2vw;
	}

	.beginnerSetup p, .standardSetup p {
		margin-bottom: 1vw;
	}

	#summaryInstructions, #gameInstructions {
		margin: 1vw 0vw;
	}

	#container {
		width: 100%;
		max-width: 93%;
		margin: 0 auto;
	}

	body {
		font-size: 2.5vw;
	}

	.title {
		margin: 2vw 0vw 2vw!important;
	}

	.title.is-5 {
		font-size: 3vw;
	}

	.tabs.is-medium {
		font-size: 3vw;
	}

	.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
		font-size: 2.2vw;
	}

	.modal-card, .modal-content {
		width: 90%;
	}

	.subtitle.is-6 {
		font-size: 3vw;
	}

	.title img {
		width: 30vw;
		margin-bottom: 1vw;
	}

	.lowerVarianceCheckboxContainer {
		width: 35vw;
	}

	.lowerVarianceCheckboxContainer, .familyCheckboxContainer {
		margin: 4vw auto 4vw;
		height: 5vw;
	}
		
	ion-icon[name="help-circle-outline"] {
		font-size: 4vw;
		margin-bottom: -1vw;
		margin-left: .4vw;
	}

	/* The container */
	.checkboxEl {
		margin-top: 0.6vw;
	}

	/* Create a custom checkbox */
	.checkmark {
		height: 3vw;
		width: 3vw;
	}

	/* Style the checkmark/indicator */
	.checkboxEl .checkmark:after {
		left: 1vw;
		top: .2vw;
		width: 1vw;
		height: 2vw;
		border-width: 0 .2vw .2vw 0;
	}

	#patchTileVarianceParentContainer {
		width: 54vw;
		margin: 2vw auto 1vw;
	}

	#lowerVarianceModal .patchTile {
		width: 14vw;
		margin: 2vw;
	}

	#lowerVarianceModal .buttons {
		width: 37vw;
		margin: 3vw auto 2vw;
	}

	#lowerVarianceModal .buttons .button {
		width: 15vw;
		margin: 0vw 1.5vw;
	}

	#patchTileVarianceParentContainer .patchTileVarianceContainer .checkmarkIcon {
		right: 1vw;
		bottom: 1vw;
		font-size: 6vw;
	}

	#beginnerGameCatsContainer, #standardGameCatsContainer {
		width: 100%;
		margin: 0vw auto 7vw;
	}

	.gameOptionBox .catsAndGoalPatternsContainer {
		position: relative;
		height: 28vw;
		width: 27vw;
		float: left;
		margin: 0vw .5vw;
	}

	.gameOptionBox .catsAndGoalPatternsContainer .catGoal {
		width: 100%;
		margin: 0vw 0vw;
	}

	.gameOptionBox .catsAndGoalPatternsContainer .scoringPatternTile {
		position: absolute;
		width: 9vw;
		top: 14vw;
	}

	.gameOptionBox .catsAndGoalPatternsContainer .scoringPatternTile.leftScoringTile {
		left: 3.5vw;
	}

	.gameOptionBox .catsAndGoalPatternsContainer .scoringPatternTile.rightScoringTile {
		right: 3.5vw;
	}

	.imageButton img {
		height: 3vw;
		margin-left: 2vw;
		margin-top: 0vw;
	}

	#beginnerGameGoalsContainer .nonFamilyGoals, #beginnerGameGoalsContainer .familyGoals, #standardGameGoalsContainer .familyGoals {
		width: 57vw;
		margin: 0vw auto 0vw;
	}

	.gameOptionBox .goalTile {
		width: 15vw;
		margin: 2vw 2vw 2vw;
	}

	.familyCheckboxContainer {
		width: 26vw;
	}

	.gameBoardSetup {
		width: 100%;
		margin: 0 auto 2vw;
	}

	.gameBoardSetup .boardContainer {
		width: 40vw;
		margin: 1vw;
	}

	.gameBoardSetup .boardContainer .checkmarkIcon {
		font-size: 5.3vw;
	}

	#randomizeCatsPatternsButtonContainer {
		margin: 0 auto;
		width: 48vw;
	}

	#randomizeCatsPatternsButtonContainer .button {
		margin: 0vw 1.5vw;
	}

	#randomizeStandardGoalTiles {
		margin: 2vw auto 1vw;
	}

	#standardGameGoalsContainer .nonFamilyGoals {
		width: 76vw;
		margin: 0vw auto 4vw;
	}

	#scenarioDetailsSummaryPic {
		width: 66vw;
		margin: 1vw auto 4vw;
	}

	#scenarioDetailsCatsContainer {
		width: 100%;
		margin: 2vw auto 0vw;
	}

	#scenarioDetailsCatsContainer .catsAndGoalPatternsScenarioContainer {
		margin: 0vw 0.5vw;
		width: 27vw;
		height: 27vw;
	}

	#startBeginnerGame, #standardStartGameSkipSummary, #standardStartGame, #standardSummaryPage {
		width: 19vw;
	}

	.scenarioContainer {
		position: relative;
		float: none;
		width: 58vw;
		margin: 1vw auto;
	}

	.scenarioContainer .scenario {
		width: 58vw;
		margin: 3vw auto 3vw;
	}

	#scenarioDetailsCatsContainer .catsAndGoalPatternsScenarioContainer .scoringPatternTile {
		position: absolute;
		width: 9.5vw;
		bottom: 2.3vw;
	}

	#scenarioDetailsCatsContainer .catsAndGoalPatternsScenarioContainer .scoringPatternTile.leftScoringTile {
		left: 3.5vw;
	}

	#scenarioDetailsCatsContainer .catsAndGoalPatternsScenarioContainer .scoringPatternTile.rightScoringTile {
		right: 3.5vw;
	}

	#scenarioDetailsCatsContainer .buttons {
		width: 20vw;
		margin: 0 auto;
	}

	#scenarioGoalsList {
		width: 63vw;
		margin: 2vw auto 5vw;
	}

	#scenarioGoalsList li {
		list-style: disc;
		font-size: 2.5vw;
	}

	#scenarioDetailsButtonsContainer {
		width: 36vw;
		margin: 0 auto;
	}

	#scenarioDetailsButtonsContainer .button {
		width: 16vw;
		margin: 0vw 1vw;
	}

	#goalTilesSummaryContainer {
		height: 15vw;
		float: none;
		padding-top: 11px;
		margin: 0 auto 2vw;
	}

	#goalTilesSummaryContainer[goalNum="3"] {
		width: 45vw;
	}

	#goalTilesSummaryContainer[goalNum="4"] {
		width: 60vw;
	}

	#goalTilesSummaryContainer .goalTileSummaryContainer {
		position: relative;
		margin-bottom: 0vw;
		margin-right: 4vw;
		float: left;
	}

	#goalTilesSummaryContainer .goalTileSummaryContainer .goalTileSummary {
		width: 11vw;
	}

	#catsPatternGoalsSummary {
		width: 90vw;
		float: none;
		margin-left: 0vw;
		margin-top: 4vw;
	}

	#catsPatternGoalsSummary .catPatternGoal {
		width: 28vw;
		height: 26vw;
		float: left;
		margin: 0vw 1vw 2vw;
		position: relative;
	}

	#catsPatternGoalsSummary .summaryScoringTile {
		width: 10vw;
		top: 14.2vw;
		position: absolute;
	}

	#catsPatternGoalsSummary .summaryScoringTile.leftSummaryScoringTile {
		left: 3.3vw;
	}

	#catsPatternGoalsSummary .summaryScoringTile.rightSummaryScoringTile {
		right: 3.3vw;
	}

	#summaryLayer .buttons {
		width: 89vw;
		margin: 1vw auto 0vw;
	}

	#summaryLayer .buttons .button {
		width: 19vw;
		margin: 0vw 1.5vw;
	}

	#boardSummaryContainer .potentialSummaryPlacementTile {
		width: 9.8vw;
	}

	#boardSummaryContainer #potentialTile-1.potentialSummaryPlacementTile {
		top: 15.4vw;
		left: 30.4vw;
	}
	
	#boardSummaryContainer #potentialTile-2.potentialSummaryPlacementTile {
		top: 25vw;
		left: 47.1vw;
	}

	#boardSummaryContainer #potentialTile-3.potentialSummaryPlacementTile {
		top: 34.6vw;
		left: 19.3vw;
	}

	#goalTilesSummaryContainer .goalTileSummaryContainer .activeSummaryTile {
		width: 12vw;
		top: 0vw;
		left: 0vw;
	}

	#boardSummaryContainer {
		width: 76vw;
		float: none;
		margin: 0 auto;
		position: relative;
	}

	#boardSummaryContainer .finalizedGoalTileSummaryContainer .finalizedGoalTileSummary {
		width: 11vw;
	}

	#boardSummaryContainer #finalGoalTile-1.finalizedGoalTileSummaryContainer {
		top: 14.8vw;
		left: 29.8vw;
	}

	#boardSummaryContainer #finalGoalTile-2.finalizedGoalTileSummaryContainer {
		top: 24vw;
		left: 46.7vw;
	}

	#boardSummaryContainer #finalGoalTile-3.finalizedGoalTileSummaryContainer {
		top: 33.8vw;
		left: 18.5vw;
	}

	#gameButtonsContainer {
		width: 18vw;
		margin: 2vw auto 0vw;
	}

	#gameButtonsContainer .button {
		width: 18vw;
		margin: 0vw 0vw;
	}

	#scenarioButtonsContainer {
		width: 39vw;
		margin: 2vw auto 0vw;
	}

	#scenarioButtonsContainer .button {
		width: 17vw;
		margin: 0vw 1vw;
	}

	#backToScenarioListTop {
		margin: 3vw auto;
	}

	#catsPatternGoalsGame {
		float: none;
	}

	#boardGoalTilesGameContainer {
		width: 91vw;
		margin: 3vw auto 0vw;
	}

	#colorButtonsContainer {
		float: left;
		width: 8vw;
		margin: 24vw 2vw 2vw 2vw;
		position: relative;
	}

	#colorButtonsContainer .colorButton {
		width: 7vw;
		position: absolute;
		z-index: 0;
		cursor: hand;
		cursor: pointer;
	}

	#colorButtonsContainer #button-1.colorButton, #colorButtonsContainer #buttonOverlay-1.colorButton, #colorButtonsContainer #animatedButton-1.animatedButton {
		top: 0vw;
	}

	#colorButtonsContainer #button-2.colorButton, #colorButtonsContainer #buttonOverlay-2.colorButton, #colorButtonsContainer #animatedButton-2.animatedButton {
		top: 10vw;
	}

	#colorButtonsContainer #button-3.colorButton, #colorButtonsContainer #buttonOverlay-3.colorButton, #colorButtonsContainer #animatedButton-3.animatedButton {
		top: 19vw;
	}

	#colorButtonsContainer #button-4.colorButton, #colorButtonsContainer #buttonOverlay-4.colorButton, #colorButtonsContainer #animatedButton-4.animatedButton {
		top: 31vw;
	}

	#colorButtonsContainer #button-5.colorButton, #colorButtonsContainer #buttonOverlay-5.colorButton, #colorButtonsContainer #animatedButton-5.animatedButton {
		top: 40vw;
	}

	#colorButtonsContainer #button-6.colorButton, #colorButtonsContainer #buttonOverlay-6.colorButton, #colorButtonsContainer #animatedButton-6.animatedButton {
		top: 50vw;
	}

	#tilesAndBoardContainer {
		height: 86vw;
		width: 77vw;
		float: right;
	}

	#displayTilesContainer {
		float: left;
		width: 74vw;
		margin-left: 2vw;
		margin-bottom: 0vw;
	}

	#displayTilesContainer #usersTilesContainer {
		float: left;
		width: 24.4vw;
	}

	#displayTilesContainer .gameTileContainer .tileContainerLabel {
		margin-bottom: 2vw;
		font-size: 3vw;
	}

	#displayTilesContainer .gameTileContainer .gameTiles {
		position: relative;
		height: 13vw;
		overflow: hidden;
	}

	#displayTilesContainer #usersTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-1 {
		left: 0vw;
	}

	#displayTilesContainer #usersTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-2 {
		left: 13vw;
	}

	#displayTilesContainer .gameTileContainer .gameTiles .gameTile {
		width: 11.4vw;
		height: 13vw;
		position: absolute;
		top: 0vw;
		transition: all 1s ease-in-out;
		z-index: 0;
		opacity: 1;
	}

	#displayTilesContainer #marketTilesContainer {
		float: right;
		width: 37.5vw;
	}

	#displayTilesContainer .gameTileContainer .gameTiles {
		position: relative;
		height: 17vw;
		overflow: hidden;
	}

	#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-1 {
		left: 0vw;
	}

	#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-2 {
		left: 13vw;
	}

	#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.gameTile-3 {
		left: 26vw;
	}

	#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.newGameTile-1 {
		left: 39vw;
	}
	
	#displayTilesContainer #marketTilesContainer.gameTileContainer .gameTiles .gameTile.newGameTile-2 {
		left: 52vw;
	}

	#endGameContainer {
		height: 22vw;
	}

	#endGameContainer p {
		width: 54vw;
		top: 1vw;
		left: 5vw;
	}

	#endGameContainer #calculateScoreButton {
		top: 12vw;
		left: 24vw;
		width: 16vw;
	}

	#boardGameContainer {
		width: 78vw;
		margin-top: 0vw;
	}

	#displayTilesContainer .gameTileContainer .gameTiles .activeGameTile {
		position: absolute;
		top: 0vw;
		width: 11.4vw;
		height: 13vw;
		transition: all 1s ease-in-out;
	}

	.boardTileOverlay .boardTileOverlayTile, .boardTileOverlay .shadowTile {
		width: 11.4vw;
		height: 13vw;
	}

	#marketTilesContainer .gameTiles .gameTile.removeTile {
		top: 17vw!important;
	}

	.animatedGameTile {
		width: 11.4vw;
		height: 13vw;
		position:absolute;
		top:0vw;
		left:0vw;
	}

	#boardGameContainer .catPaw {
		position: absolute;
		z-index: 0;
		width: 7vw;
		top: 3vw;
		left: 41vw;
		transition: all 1s ease-in-out;
		z-index: -1;
	}

	#boardGameContainer .catPaw.active {
		top: -14vw;
	}

	#row-1-column-1 {
		top: 5.4vw;
		left: 13.65vw;
	}
	
	#row-1-column-2 {
		top: 5.4vw;
		left: 25vw;
	}
	
	#row-1-column-3 {
		top: 5.4vw;
		left: 36.4vw;
	}
	
	#row-1-column-4 {
		top: 5.4vw;
		left: 47.8vw;
	}
	
	#row-1-column-5 {
		top: 5.4vw;
		left: 59.1vw;
	}
	
	#row-2-column-1 {
		top: 15.2vw;
		left: 8vw;
	}
	
	#row-2-column-2 {
		top: 15.2vw;
		left: 19.3vw;
	}
	
	#row-2-column-3 {
		top: 15.2vw;
		left: 30.7vw;
	}
	
	#row-2-column-4 {
		top: 15.2vw;
		left: 42.2vw;
	}
	
	#row-2-column-5 {
		top: 15.2vw;
		left: 53.5vw;
	}
	
	#row-3-column-1 {
		top: 25vw;
		left: 13.65vw;
	}
	
	#row-3-column-2 {
		top: 25vw;
		left: 25vw;
	}
	
	#row-3-column-3 {
		top: 25vw;
		left: 36.4vw;
	}
	
	#row-3-column-4 {
		top: 25vw;
		left: 47.8vw;
	}
	
	#row-3-column-5 {
		top: 25vw;
		left: 59.1vw;
	}
	
	#row-4-column-1 {
		top: 34.8vw;
		left: 8vw;
	}
	
	#row-4-column-2 {
		top: 34.8vw;
		left: 19.3vw;
	}
	
	#row-4-column-3 {
		top: 34.8vw;
		left: 30.7vw;
	}
	
	#row-4-column-4 {
		top: 34.8vw;
		left: 42.2vw;
	}
	
	#row-4-column-5 {
		top: 34.8vw;
		left: 53.5vw;
	}
	
	#row-5-column-1 {
		top: 44.6vw;
		left: 13.65vw;
	}
	
	#row-5-column-2 {
		top: 44.6vw;
		left: 25vw;
	}
	
	#row-5-column-3 {
		top: 44.6vw;
		left: 36.4vw;
	}
	
	#row-5-column-4 {
		top: 44.6vw;
		left: 47.8vw;
	}
	
	#row-5-column-5 {
		top: 44.6vw;
		left: 59.1vw;
	}

	#boardGameContainer #boardGameOverlayContainer .boardTileOverlay .boardButtonToken {
		width: 5.2vw;
		position: absolute;
		top: 3.2vw;
		left: 3vw;
	}

	.boardTileOverlay.colorTileOverlay.buttonPreview .shadowButton {
		width: 5.2vw;
		position: absolute;
		top: 3.2vw;
		left: 3vw;
	}

	.animatedButton {
		width: 5.2vw;
		top: 3.2vw;
		left: 3vw;
		position:absolute;
		z-index:1;
		cursor:hand;
		cursor:pointer;
	}
	
	#catsPatternGoalsGame {
		width: 79vw;
		float: right;
		margin-top: 3vw;
		margin-left: 0vw;
	}

	#catsPatternGoalsGame .catPatternGoal {
		width: 23vw;
		height: 24vw;
		margin: 2vw 0vw 2vw 3vw;
	}

	#catsPatternGoalsGame .gameScoringTile {
		width: 8vw;
		top: 11.9vw;
		position: absolute;
	}

	#catsPatternGoalsGame .gameScoringTile.leftGameScoringTile {
		left: 2.9vw;
	}

	#catsPatternGoalsGame .gameScoringTile.rightGameScoringTile {
		right: 2.9vw;
	}

	#catsPatternGoalsGame .catPatternGoal .catGameToken {
		top: 2vw;
		left: 7vw;
		width: 9vw;
	}

	#catsPatternGoalsGame .catPatternGoal .catGameToken.active {
		top: 2vw;
		left: 7vw;
		width: 9vw;
	}

	#boardGameContainer #boardGameOverlayContainer .boardTileOverlay .boardCatToken {
		position: absolute;
		top: 3.5vw;
		left: 2.3vw;
		width: 7vw;
	}

	.boardTileOverlay .shadowCat {
		position: absolute;
		top: 3.5vw;
		left: 2.3vw;
		width: 7vw;
	}
	
	.animatedCat {
		position: absolute;
		top: 3.5vw;
		left: 2.3vw;
		width: 7vw;
	}

	.modal-card-title {
		font-size: 4vw;
	}

	#scoringContent #finalGoalTilesScoringTable td .endGameScoringTile {
		width: 13vw;
		margin: 0vw 5vw 0vw 5vw;
	}

	#scoringContent .scoringTable td p {
		font-size: 5vw;
	}

	#scoringContent #finalGoalTilesScoringTable td .scoreAmount {
		margin-top: 3vw;
	}

	#scoringContent #finalGoalTilesScoringTable td .endGameScoringTile {
		width: 13.6vw;
		margin: 0vw 4vw 0vw 4vw;
	}

	#scoringContent #finalCatButtonsScoringTable td .buttonCatScoringToken {
		width: 17vw;
		margin: 1vw 1vw;
		float: left;
	}

	#scoringContent #finalCatButtonsScoringTable td .buttonCatMultiplier {
		float: left;
		margin: 2vw 1vw 0vw 2vw;
	}

	#scoringContent .scoringTable {
		margin-left: 3vw;
	}

	#finalScoreNumberHeading {
		margin: 0vw 0vw 3vw 0vw!important;
		font-size: 5vw;
	}

	#colorButtonsContainer #rainbowButton, #colorButtonsContainer #rainbowButtonOverlay {
		width: 7vw;
		top: -7vw;
	}

	.shadowRainbow, .rainbowBoardButtonToken {
		position: absolute;
		top: 3.7vw;
		left: 2vw;
		width: 7.5vw;
	}

	#gameScenarioGoalList {
		width: 68vw;
		margin: 4vw auto;
	}

	#instructionCategories .instructionsIcon {
		display: none;
	}

	.instructionContainer .instructionalImage {
		border: .1vw solid #000;
		margin: 4vw auto;
	}

	#instructionsHelpModal .modal-card .modal-card-body .tabs {
		font-size: 2.5vw;
	}

	#instructionsHelpModal .modal-card .modal-card-body .tabs a {
		padding: 1vw 1.1vw;
	}

	#boardSummaryContainer .boardSummary {
		margin: 0 auto;
		display: block;
	}

	#frontPageGameInstructionsButton {
		display: block;
		margin: 3vw auto 0vw;
	}

	#instructionsHelpModal .modal-card {
		width: 90vw;
	}

}


/* @media screen and (min-width: 600px) and (max-width: 949px) {

}

@media screen and (max-width: 599px) {

} */