p, ol, li, a, h3, td, tr, div {
    font-family: 'Roboto Condensed', sans-serif!important;
}

.currentVersionInfo {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.confirmationBox {
    font-size: 20px;
}

.confirmationBox a:not(.confirmationBoxLink):not(.helpLink):not(.helpLink) {
    margin: 10px 17px 0px;
    padding: 11px 32px;
    font-size: 20px;
    width: 62px;
    float: left;
}

.btn {
    font-size: 21px!important;
}

.buttons[btns="1"] {
    width: 170px;
}

/* #startLayer .btn {
    font-size: 21px;
} */

.layer:not(#startLayer) p {
    font-size: 18px;
}

#startLayer p, #startLayer li {
    font-size: 20px;
    line-height: 24px;
}

#container {
    width: 1000px;
}

#gameLayer {
    width: 970px!important;
    margin: 15px auto 0!important;
}

#characterChoiceLayer{
    margin: 25px auto 0!important;
}

#chooseHumanCharacter {
    width: 400px;
    margin: 0px auto 19px;
    font-style:italic;
}

#aiNumContainer {
    margin: 0 auto;
    width: 300px;
}

#aiNum {
    float: left;
    margin-top: 24px;
}

#aiNumSelect {
    margin: 22px 50px 0px 0px;
    font-size: 17px;
    display: block;
    width: 130px;
    padding: 5px 10px;
    float: right;
}

#humanCharacterContainer, #aiCharacterContainer[ainum="1"] .aiCharacterSelectContainer {
    width: 280px;
    margin: 0px auto 22px;
}

#characterChoiceLayer #aiCharacterContainer[ainum="2"] {
    width: 436px;
    margin: 0 auto;
}

#aiCharacterContainer[ainum="2"] .aiCharacterSelectContainer {
    float: left;
    width: 194px;
    margin: 0px 10px;
}

#aiCharacterContainer[ainum="3"] .aiCharacterSelectContainer {
    width: 213px;
    float: left;
}

#characterChoiceLayer select {
    font-size: 16px;
    padding: 5px 7px;
    margin: 0 auto;
    display: block;
    width: 179px;
}

#characterChoiceLayer #randomHumanBtn {
    margin: 17px auto 0px;
}

#randomAIBtn {
    width: 139px;
}

#characterChoiceBtns {
    width: 617px;
    margin: 40px auto 0px;
}

#characterChoiceBtns .btn {
    float: left;
    margin: 0 11px;
}

#setupInstructionsLayer {
    width: 900px!important;
}


#setupInstructionsLayer .characterSetupContainer {
    margin:20px auto;
}

#setupInstructionsLayer .characterSetupContainer[aiNum="3"] {
    width: 758px;
}

#setupInstructionsLayer .characterSetupContainer[aiNum="2"] {
    width: 510px;
}

#setupInstructionsLayer .characterSetupContainer[aiNum="1"] {
    width: 253px;
}

#setupInstructionsLayer .characterSetupContainer .characterSetupBox {
    float: left;
    border: 1px solid #000;
    width: 200px;
    height: 159px;
    text-align: left;
    padding: 9px 14px 4px;
    border-radius: 10px;
    margin: 0px 11px;
    position:relative;
}

#setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    transform: translate(0%, -50%);
}

#setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter h3 {
    text-align: center;
    font-size: 23px;
    margin: 0px 0px 11px 0px;
    padding: 0px 0px 0px 0px;
}

#setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter ul {
    margin: 0px 0px 13px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    text-align: center;
}

#setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter li {
    margin: 0px 0px 12px 0px;
    list-style: none;
}

#setupInstructionsLayer .characterCardBlurb {
    text-align: center!important;
    font-size: 20px!important;
}

#setupInstructionsLayer .bountyInstructions {
    text-align: left!important;
    font-size: 20px!important;
}

#setupInstructionsBtns {
    width: 398px;
    margin: 39px auto 0px;
}

#setupInstructionsBtns .btn {
    float: left;
    margin: 0 11px;
}


#cardArea {
    width: 100%;
    padding: 0px 20px 20px 20px!important;
}

.starwars-card-container {
    width: 100%;
    padding-top: 20px;
}

.gameActionInfo {
    float: none;
    margin:0px auto;
}

.characterLink {
    cursor: hand;
    cursor: pointer;
    margin:0px 0px 10px 0px;
    padding: 10px 0px;
    border:2px solid;
    font-size:20px!important;
    border-radius: 30px;
}

.characterLink:hover {
    text-decoration: underline;
}

.inactiveCharacter {
    color:red;
    background-color: #ff000026;
    border-color:red;
}

.activeCharacter {
    color: #1ac51a;
    background-color: #1ac51a30;
    border-color: #1ac51a;
}

#characterLinksAndButtonContainer {
    float:left;
}

#characterCardContainer {
    float: right;
    width: 680px;
    position: relative;
    margin-top: -13px;
    padding: 15px 20px 0px;
    border-radius: 30px;
}

.characterContainer {
    position: absolute;
    width: 680px;
    display:none;
    border: 1px solid #000;
    padding: 10px 20px 20px;
    border-radius: 25px;
}

.characterTitle {
    margin: 0px 0px 0px 0px;
    font-size: 26px!important;
    font-weight: bold;
}

.characterNotes {
    margin: 0px 0px 10px 0px;
}

#draw.btn {
    margin: 0px 0px 20px 0px;
    float: none;
}

.characterContainer .chosenCardInfo h4 {
    font-size: 18px!important;
    margin-bottom: 0px;
    margin-top: 14px;
}

.characterContainer .chosenCardInfo h3, .characterContainer .chosenCardInfo p {
    font-size: 18px!important;
    margin: 0px 0px 5px 0px;
    text-align:left!important;
}

.characterContainer .chosenCardInfo p.italic {
    margin: 4px 0px 8px 0px!important;
}

.characterContainer .chosenCardInfo ol, .characterContainer .chosenCardInfo ul {
    margin-top: 9px;
}

.characterContainer .chosenCardInfo li {
    font-size: 18px;
    margin-bottom: 4px;
}

.confirmationBox.alertEl.actionTypeAlertBox.showInstructions {
    width: 600px;
    margin-left: -300px;
    top: 8%;
}

#bobaFettCharacterNotes.confirmationBox, #bosskCharacterNotes.confirmationBox, #ig88CharacterNotes.confirmationBox, #ketsuOnyoCharacterNotes.confirmationBox {
    margin-left: -400px;
    width: 800px;
    top: 5%;
}

#doctorAphraCharacterNotes.confirmationBox, #hanSoloCharacterNotes.confirmationBox, #jynErsoCharacterNotes.confirmationBox, #landoCalrissianCharacterNotes.confirmationBox  {
    margin-left: -250px;
    width: 500px;
    top: 5%;
}

.confirmationBox.alertEl.actionTypeAlertBox.showCharacterNotes li {
    /* list-style: none; */
    margin-bottom: 12px;
    text-align: left;
    font-size: 18px;
}

.characterContainer .chosenCardInfo .aiCardNum {
    text-align: center!important;
    font-weight: bold;
    margin: 19px 0px 0px 0px!important;
}

.confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard {
    z-index: 11;
    width: 1000px;
    margin-left: -500px;
    top: 2%;
    text-align: left;
    font-size: 17px;
}

.confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard h3 {
    text-align: center!important;
    font-size: 30px;
}

.confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard p {
    margin-bottom: 0px;
}

.confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard .helpLink {
    color:black;
    cursor: default;
}

.confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard .buttons[btns="1"] {
    margin-top: 20px;
}

.characterNotesLinkInContent {
    color: #0099ff;
    cursor:hand;
    cursor:pointer;
}


@media screen and (min-width: 600px) and (max-width: 949px) {

    .startSummary {
        margin-bottom: 2.5vw;
    }

    .btn {
        font-size: 2.3vw!important;
    }

    #chooseHumanCharacter {
        width: 52vw;
        margin: 0vw auto 2vw;
        font-style: italic;
    }

    .layer:not(#startLayer) p {
        font-size: 2.5vw;
    }

    #container {
        width: 97vw;
    }

    #startLayer p, #startLayer li {
        font-size: 2.7vw;
        line-height: 3vw;
    }

    #startLayer ul {
        padding-left: 3vw;
    }

    #aiNumContainer {
        width: 31vw;
    }

    #aiNumSelect {
        margin: 2.5vw 2vw 0vw 0vw;
        font-size: 2.2vw;
        width: 15vw;
        padding: .5vw 2vw;
    }

    #characterChoiceLayer #aiCharacterContainer[ainum="2"] {
        width: 92vw;
        margin: 0 auto;
    }

    #aiCharacterContainer[ainum="2"] .aiCharacterSelectContainer {
        float: left;
        width: 41vw;
        margin: 0vw 2vw;
    }

    #aiNum {
        margin-top: 3vw;
    }

    #characterChoiceLayer #randomHumanBtn {
        float: none;
    }

    .btn {
        font-size: 2.2vw;
        width: 12.5vw;
    }

    #characterChoiceBtns {
        width: 71vw;
        margin: 5vw auto 0vw;
    }

    #characterChoiceLayer {
        width: 75vw!important;
    }

    #characterChoiceLayer select {
        font-size: 2vw;
        padding: 1vw 2vw;
        margin: 0 auto;
        display: block;
        width: 23vw;
    }

    #humanCharacterContainer, #aiCharacterContainer[ainum="1"] .aiCharacterSelectContainer {
        width: 28vw;
        margin: 0vw auto 2vw;
    }

    #characterChoiceLayer #aiCharacterContainer[ainum="2"] {
        width: 56vw;
        margin: 0 auto;
    }

    #aiCharacterContainer[ainum="2"] .aiCharacterSelectContainer {
        float: left;
        width: 26vw;
        margin: 0px 1vw;
    }

    #aiCharacterContainer[ainum="3"] .aiCharacterSelectContainer {
        width: 25vw;
        float: left;
    }

    #characterChoiceBtns .btn {
        float: left;
        margin: 0 1.8vw;
    }

    #randomAIBtn {
        width: 16vw;
    }

    #setupInstructionsLayer {
        width: 93vw!important;
    }

    #setupInstructionsLayer h2 {
        text-align: center;
        font-size: 3.5vw;
        margin-bottom: 2vw;
    }

    #setupInstructionsLayer .characterSetupContainer .characterSetupBox {
        float: left;
        border: .1vw solid #000;
        width: 26.5vw;
        height: 18vw;
        margin-right: 1vw;
        text-align: left;
        padding: 1vw 1vw 2vw;
        border-radius: 2vw;
        margin: 0vw 1vw;
    }

    #setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter h3 {
        text-align: center;
        font-size: 3vw;
        margin: 0vw 0vw 1vw 0vw;
        padding: 0vw 0vw 0vw 0vw;
    }

    #setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter ul {
        margin: 0vw 0vw 0vw 0vw;
        padding: 0vw 0vw 0vw 0vw;
        font-size: 2.7vw;
    }

    #setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter li {
        margin: 0vw 0vw 1.5vw 0vw;
    }

    #setupInstructionsLayer .characterCardBlurb {
        text-align: center!important;
        font-size: 2.7vw!important;
        line-height: 3.3vw;
    }

    #setupInstructionsLayer .bountyInstructions {
        text-align: left!important;
        font-size: 2.7vw!important;
        line-height: 3.3vw;
    }

    #setupInstructionsLayer .characterSetupContainer {
        margin: 3vw auto;
    }

    #setupInstructionsLayer .characterSetupContainer[aiNum="3"] {
        width: 93vw;
    }

    #setupInstructionsLayer .characterSetupContainer[aiNum="2"] {
        width: 62vw;
    }

    #setupInstructionsLayer .characterSetupContainer[aiNum="1"] {
        width: 31vw;
    }

    #setupInstructionsBtns {
        width: 43vw;
        margin: 4vw auto 0vw;
    }    

    #setupInstructionsBtns .btn {
        float: left;
        margin: 0 1vw;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.showInstructions {
        width: 82vw;
        margin-left: -41vw;
        top: 6%;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.showInstructions h3, .confirmationBox.alertEl.actionTypeAlertBox.showCharacterNotes h3 {
        font-size: 3vw;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.showInstructions p, .confirmationBox.alertEl.actionTypeAlertBox.showCharacterNotes p {
        font-size: 2.5vw;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.showCharacterNotes li {
        /* list-style: none; */
        margin-bottom: 1vw;
        text-align: left;
        font-size: 2.5vw;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.showCharacterNotes {
        margin-left: -45vw;
        width: 90vw;
        top: 4%;
    }

    #characterLinksAndButtonContainer {
        float: none;
    }

    #draw.btn {
        margin: 0vw auto 3vw;
    }

    #gameLayer {
        width: 95vw!important;
        margin: 1vw auto 0!important;
    }

    .starwars-card-container {
        width: 100%;
        padding-top: 0vw;
    }

    .characterLink {
        margin-bottom: 0vw;
        float: left;
        padding: 1vw 0vw;
        margin: 0vw 1vw;
        border: .3vw solid;
        font-size: 2.5vw!important;
        border-radius: 3vw;
    }

    #characterLinksAndButtonContainer {
        float: none;
        margin: 0vw auto;
    }

    #characterLinksAndButtonContainer[characters="1"] {
        width: 28vw;
    }

    #characterLinksAndButtonContainer[characters="2"] {
        width: 49vw;
    }

    #characterLinksAndButtonContainer[characters="3"] {
        width: 76vw;
    }

    #characterLinksAndButtonContainer #characterLinksContainer {
        display: grid;
        margin-bottom: 2vw;
    }

    #characterLinksAndButtonContainer[characters="1"] #characterLinksContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    #characterLinksAndButtonContainer[characters="2"] #characterLinksContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    #characterLinksAndButtonContainer[characters="3"] #characterLinksContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    #characterCardContainer {
        float: right;
        width: 91vw;
        position: relative;
        padding: 2vw 0vw 0vw;
        border-radius: 2vw;
    }

    .characterContainer {
        position: absolute;
        width: 87vw;
        display: none;
    }

    .characterContainer .chosenCardInfo h3, .characterContainer .chosenCardInfo p {
        font-size: 2.5vw!important;
        margin: 0vw 0vw 1vw 0vw;
        text-align: left!important;
    }

    .characterContainer .chosenCardInfo li {
        font-size: 2.5vw;
        margin-bottom: 1.2vw;
    }

    .characterContainer .chosenCardInfo p.italic {
        margin: 1vw 0vw 1.5vw 0vw!important;
    }

    .characterContainer .chosenCardInfo ul, .characterContainer .chosenCardInfo ol {
        padding-left: 2vw;
    }

    .characterContainer .chosenCardInfo h4 {
        font-size: 2.6vw!important;
        margin-bottom: 2vw;
        margin-top: 3vw;
    }

    .confirmationBox a:not(.confirmationBoxLink):not(.helpLink) {
        margin: 1vw 3vw 1vw!important;
        padding: 1.59vw 4vw!important;
        font-size: 2.5vw!important;
        width: 8vw!important;
    }

    .buttons[btns="1"] {
        width: 22vw!important;
    }

    #bobaFettCharacterNotes.confirmationBox, #bosskCharacterNotes.confirmationBox, #ig88CharacterNotes.confirmationBox, #ketsuOnyoCharacterNotes.confirmationBox {
        margin-left: -45vw;
        width: 90vw;
        top: 5%;
    }

    #doctorAphraCharacterNotes.confirmationBox, #hanSoloCharacterNotes.confirmationBox, #jynErsoCharacterNotes.confirmationBox, #landoCalrissianCharacterNotes.confirmationBox {
        margin-left: -32vw;
        width: 64vw;
        top: 5%;
    }

    .characterTitle {
        margin: 0vw 0vw 0vw 0vw;
        font-size: 3.3vw!important;
        font-weight: bold;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard {
        z-index: 11;
        width: 98vw;
        margin-left: -49vw;
        top: 0%;
        text-align: left;
        font-size: 2.5vw;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard h3 {
        text-align: center!important;
        font-size: 3vw!important;
        margin: 0vw 0vw 1vw 0vw;
    }

    .confirmationBox ul, .confirmationBox ol {
        padding-left: 2vw;
    }

}

@media screen and (max-width: 599px) {

    .layer:not(#startLayer) p {
        font-size: 3.7vw;
    }

    .btn {
        font-size: 3.8vw!important;
        width: 27vw;
        padding: 2.7vw 1.5vw;
    }

    #characterChoiceLayer #randomHumanBtn {
        margin: 4vw auto 0vw!important;
        float: none;
    }

    #characterChoiceLayer select {
        font-size: 3.5vw;
        padding: 1vw 2vw;
        margin: 0 auto;
        display: block;
        width: 39vw;
    }

    #chooseHumanCharacter {
        width: 72vw;
        margin: 0vw auto 2vw;
        font-style: italic;
    }

    #container {
        width: 93vw;
    }

    #startLayer p, #startLayer li {
        font-size: 4vw;
        line-height: 5vw;
    }

    #aiNumContainer {
        width: 47vw;
    }

    #aiNum {
        margin-top: 3vw;
    }

    #aiNumSelect {
        margin: 2vw 2vw 0vw 0vw;
        font-size: 3.5vw;
        width: 21vw;
        padding: .9vw 2vw;
    }

    #humanCharacterContainer, #aiCharacterContainer[ainum="1"] .aiCharacterSelectContainer {
        width: 41vw;
        margin: 0vw auto 2vw;
    }

    #characterChoiceLayer #aiCharacterContainer[ainum="2"] {
        width: 88vw;
        margin: 0 auto;
    }

    #aiCharacterContainer[ainum="2"] .aiCharacterSelectContainer {
        float: left;
        width: 40vw;
        margin: 0vw 1vw;
    }

    #aiCharacterContainer[ainum="2"] .aiCharacterSelectContainer {
        float: left;
        width: 40vw;
        margin: 0vw 2vw;
    }

    #aiCharacterContainer[ainum="3"] {
        margin: 0vw auto;
        width: 87vw;
    }

    #aiCharacterContainer[ainum="3"] .aiCharacterSelectContainer {
        width: 40vw;
        float: left;
        margin: 0vw 1.5vw;
    }

    #aiCharacterContainer[ainum="3"] #aiCharacterThreeContainer {
        float: none;
        margin: 0 auto;
        padding-top: 1vw;
        clear: both;
    }

    #characterChoiceBtns {
        width: 70vw;
        margin: 6vw auto 0vw;
    }

    #randomAIBtn {
        width: 28vw;
    }

    #characterChoiceBtns .btn {
        float: left;
        margin: 0vw 2vw 2vw;
    }

    #characterChoiceBtns #setupInstructionsBtn {
        float: none;
        clear: both;
        margin: 0vw auto;
        padding-top:2vw;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.showInstructions {
        width: 90vw;
        margin-left: -45vw;
        top: 5%;
    }

    .buttons[btns="0"], .buttons[btns="1"] {
        width: 33vw!important;
        margin: 4vw auto 0vw!important;
    }

    #startLayer .buttons[btns="0"], #startLayer .buttons[btns="1"] {
        width: 38vw!important;
        margin: 4vw auto 0vw!important;
    }

    #startLayer .buttons .btn {
        float: left;
        margin: 2vw 2vw 0vw;
        width: 30vw;
        font-size: 4.3vw!important;
    }

    .confirmationBox {
        font-size: 4.5vw;
    }

    #setupInstructionsLayer {
        width: 90vw!important;
    }

    #setupInstructionsLayer h2 {
        text-align: center;
        font-size: 5vw;
        margin-bottom: 2vw;
    }

    #setupInstructionsLayer .characterCardBlurb {
        text-align: center!important;
        font-size: 4vw!important;
    }

    #setupInstructionsLayer .bountyInstructions {
        text-align: left!important;
        font-size: 4vw!important;
    }

    #setupInstructionsLayer .characterSetupContainer {
        margin: 0vw auto 0vw;
    }

    #setupInstructionsLayer .characterSetupContainer .characterSetupBox {
        float: left;
        border: .2vw solid #000;
        width: 40vw;
        height: 32vw;
        text-align: left;
        padding: 2vw 1vw 0vw;
        border-radius: 2vw;
        margin: 0vw 1vw 3vw;
    }

    #setupInstructionsLayer .characterSetupContainer .characterSetupBox:nth-child(3) {
        float: none!important;
        clear: both!important;
        margin: 0 auto!important;
    }

    #setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter h3 {
        text-align: center;
        font-size: 4.3vw;
        margin: 0vw 0vw 1vw 0vw;
        padding: 0vw 0vw 0vw 0vw;
    }
    
    #setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter ul {
        margin: 0vw 0vw 0vw 0vw;
        padding: 0vw 0vw 0vw 0vw;
        font-size: 3.8vw;
        text-align: center;
    }

    #setupInstructionsLayer .characterSetupContainer .characterSetupBox .characterSetupBoxCenter li {
        margin: 0vw 0vw 2vw 0vw;
        list-style: none;
    }

    #setupInstructionsLayer .characterSetupContainer[aiNum="3"], #setupInstructionsLayer .characterSetupContainer[aiNum="2"] {
        width: 89vw;
    }

    #setupInstructionsLayer .characterSetupContainer[aiNum="1"] {
        width: 44vw;
    }

    #setupInstructionsBtns {
        width: 69vw;
        margin: 7vw auto 0vw;
    }

    #setupInstructionsBtns .btn {
        float: left;
        margin: 0 2vw;
    }

    #cardArea {
        width: 100%;
        padding: 0vw 0vw 0vw 0vw!important;
    }
    
    #characterLinksAndButtonContainer {
        float: none;
    }

    #draw.btn {
        margin: 0vw auto 3vw;
    }

    #gameLayer {
        width: 93vw!important;
        margin: 1vw auto 0!important;
    }

    .starwars-card-container {
        width: 100%;
        padding-top: 0vw;
    }

    .characterLink {
        margin-bottom: 0vw;
        float: left;
        padding: 1.5vw 0vw;
        margin: 0vw .5vw;
        border: .4vw solid;
        font-size: 3.3vw!important;
        border-radius: 3vw;
    }

    #characterLinksAndButtonContainer {
        float: none;
        margin: 0vw auto;
    }

    #characterLinksAndButtonContainer[characters="1"] {
        width: 28vw;
    }

    #characterLinksAndButtonContainer[characters="2"] {
        width: 69vw;
    }

    #characterLinksAndButtonContainer[characters="3"] {
        width: 93vw;
    }

    #characterLinksAndButtonContainer #characterLinksContainer {
        display: grid;
        margin-bottom: 2vw;
    }

    #characterLinksAndButtonContainer[characters="1"] #characterLinksContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    #characterLinksAndButtonContainer[characters="2"] #characterLinksContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    #characterLinksAndButtonContainer[characters="3"] #characterLinksContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    #characterCardContainer {
        float: right;
        width: 91vw;
        position: relative;
        padding: 4vw 0vw 0vw;
        border-radius: 2vw;
        margin-top: -3vw;
    }

    .characterContainer {
        position: absolute;
        width: 90vw;
        display: none;
        padding: 0vw 0vw 10vw 0vw;
        border-radius: 0vw;
        border: none;
    }

    .characterContainer .chosenCardInfo h3, .characterContainer .chosenCardInfo p {
        font-size: 3.8vw!important;
        margin: 0vw 0vw 1vw 0vw;
        text-align: left!important;
    }

    .characterContainer .chosenCardInfo li {
        font-size: 3.8vw;
        line-height: 4.5vw;
        margin-bottom: 2vw;
    }

    .characterContainer .chosenCardInfo ul, .characterContainer .chosenCardInfo ol {
        padding-left: 2vw;
        margin: 0vw 0vw 4vw 0vw;
    }

    .characterContainer .chosenCardInfo h4 {
        font-size: 4vw!important;
        margin-bottom: 2vw;
        margin-top: 1vw;
    }

    .characterContainer .chosenCardInfo p.italic {
        margin: 1vw 0vw 1.5vw 0vw!important;
    }

    #bobaFettCharacterNotes.confirmationBox, #bosskCharacterNotes.confirmationBox, #ig88CharacterNotes.confirmationBox, #ketsuOnyoCharacterNotes.confirmationBox {
        margin-left: -47vw;
        width: 94vw;
        top: 2%;
        padding: 0px 5vw 6vw;
    }

    #doctorAphraCharacterNotes.confirmationBox, #hanSoloCharacterNotes.confirmationBox, #jynErsoCharacterNotes.confirmationBox, #landoCalrissianCharacterNotes.confirmationBox {
        margin-left: -45vw;
        width: 90vw;
        top: 3%;
    }

    .characterTitle {
        margin: 0vw 0vw 0vw 0vw;
        font-size: 4.8vw!important;
        font-weight: bold;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard {
        z-index: 11;
        width: 94vw;
        margin-left: -47vw;
        top: 0%;
        text-align: left;
        font-size: 3.8vw;
        border: double 4px #000;
        padding: 4vw 4vw 3vw;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.moveHistoryCard h3 {
        text-align: center!important;
        font-size: 5vw!important;
        margin: 0vw 0vw 2vw 0vw;
    }

    .confirmationBox ul, .confirmationBox ol {
        padding-left: 2vw;
        margin: 0vw 0vw 2vw 0vw;
    }

    .confirmationBox a:not(.confirmationBoxLink):not(.helpLink) {
        margin: 0vw 2.3vw 0px!important;
        padding: 2.8vw 9vw!important;
        font-size: 4.3vw!important;
        width: 10vw!important;
        float: left!important;
    }

    .confirmationBox.alertEl.actionTypeAlertBox.showCharacterNotes li {
        margin-bottom: 2vw;
        text-align: left;
        font-size: 4vw;
    }

}
