.layer:not(#startLayer) p {
    font-size: 19px!important;
}

.confirmationBox.alertEl p {
    font-size: 20px!important;
}

#actionPhaseLayer.layer {
    margin: 15px auto 0!important;
}

.buttons[btns="1"] {
    width: 215px;
}

.confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] {
    width: 200px;
}

.confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] .btn {
    width: 92px;
}

.actionButtons {
    margin:0 auto;
}

.confirmationBox.firstPlayerAlert .buttons[btns="1"] {
    width: 180px;
}

.choosePlayColor {
    margin: 20px auto 0px;
    width: 346px;
    height: 31px;
}

.playerColorTitle, .sidColorTitle {
    float:left;
    margin: 4px 0px 0px 0px;
}

.colorChoicesContainer {
    position: relative;
    width: 230px;
    height: 40px;
    float: right;
    margin-left: 10px;
}

.colorChoicesContainer .colorToken {
    width: 35px;
    margin: 0px 10px;
    float: left;
}

.colorChoicesContainer .colorToken.unchosen {
    opacity:.3;
    cursor:hand;
    cursor:pointer;
}

.colorChoicesContainer .colorToken.chosen {
    opacity:1;
}

#firstPlayer-container {
    margin: 30px auto 30px;
    display: block;
    width: 262px;
}

#firstPlayer-container p {
    margin: 5px 20px 0px 20px;
    font-size: 26px;
    line-height: 26px;
    float: left;
}

#firstPlayer {
    font-size: 17px;
    display: block;
    width: 125px;
    padding: 3px 6px 3px 16px;
    margin-right: 28px;
    float: right;
}

#evenStartContainer {
    width: 400px;
    text-align: left;
    font-size: 20px;
    margin: 0 auto 30px;
    box-shadow: #999 1px 1px 5px;
    border-radius: 21px;
    padding: 10px 40px 0px;
    display: block;
    border: 2px solid #676767;
}

#evenStartContainer h3, .confirmationBox.alertEl.roundStartSummaryContainer h3 {
    text-align: center;
    padding: 0 0 0 0;
}

#evenStartContainer h3 {
    font-size: 24px;
    margin: 8px 0 10px 0;
}

.confirmationBox.alertEl.roundStartSummaryContainer h3 {
    font-size: 30px;
    margin: 30px 0 10px 0;
}

#evenStartContainer ul {
	padding: 0px 10px 15px 20px;
    margin: 15px 0px 0px 0px;
}

#evenStartContainer ul li {
	margin-bottom:9px;
	list-style:none;
}

#evenStart-container {
    margin: 20px auto 30px;
    display: block;
    width: 120px;
}

#evenStart-container p {
    margin: 0px 0px 0px 10px;
    font-style: italic;
    font-size: 26px;
    line-height: 26px;
    float: left;
}

.evenStartCheckbox {
    width: 28px;
    height: 28px;
    margin: 0px 10px 0px 0px;
    position: relative;
    float: left;
}

#evenStartCheckboxInput {
	display:none;
}

.evenStartCheckbox label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
 .evenStartCheckbox label:after {
	opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}


/**
 * Create the checkbox state for the tick
 */
.evenStartCheckbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

#dicePhaseLayer {
    width: 710px!important;
}

#dicePhaseContainer {
    width: 720px;
    margin: 0px auto 0px;
}

.rollDiceBtn {
    display: block;
    float: left;
}

.turnOrder {
    margin: 0 auto 0px;
    width: 420px;
    height: 44px;
}

.turnOrder .turnOrderTitle {
    float: left;
    margin: 0px 0px 0px 0px;
    font-size: 19px!important;
}

.turnOrderContainer {
    position: relative;
    width: 220px;
    height: 40px;
    float: left;
    margin-left: 18px;
}

.turnOrderContainer .turnTick {
    position: absolute;
    top: -5px;
    width: 30px;
}

.turnOrderContainer .turnTick.tickNum1 {
    left: 2px;
}

.turnOrderContainer .turnTick.tickNum2 {
    left: 52px;
}

.turnOrderContainer .turnTick.tickNum3 {
    left: 102px;
}

.turnOrderContainer .turnTick.tickNum4 {
    left: 152px;
}

.trackContainerParent {
    width: 527px;
    height: 250px;
    margin: 0 auto 10px;
}

.trackContainerParent > .trackContainer > .trackLineContainer > .trackHeading {
    font-size: 17px!important;
    text-decoration: underline;
    margin: 0;
}

.trackContainer .track {
    margin-bottom: 2px;
    position: absolute;
}

.trackContainer .track img, .playerToken {
    width: 30px;
    transition: left 1.2s ease-in-out, bottom 1.2s ease-in-out;
}

.turnOrderContainer .orderToken {
    position: absolute;
    width: 30px;
    margin: 0px 0px;
    transition: left 1.5s ease-in-out;
}

.turnOrder1 {
    left: 0px;
}

.turnOrder2 {
    left: 50px;
}

.turnOrder3 {
    left: 100px;
}

.turnOrder4 {
    left: 150px;
}

.hoverTrackInfo {
    position: absolute;
    font-size: 17px!important;
    margin: 0;
    font-weight:bold;
    transition: opacity .5s ease-in-out;
}

.hoverTrackInfo.inactiveTrackInfo {
    opacity: 0;
}

.hoverTrackInfo.activeTrackInfo {
    opacity:1;
}

p.increaseTrack {
    left: 0px;
}

p.decreaseTrack {
    right: 0px;
}

.multipleSteps {
    display:none;
}

.column1 {
    left:0px;
}

.column2 {
    left:35px;
}

.column3 {
    left:70px;
}

.column4 {
    left:105px;
}

.column5 {
    left:140px;
}

.column6 {
    left:175px;
}

.column7 {
    left:210px;
}

.column8 {
    left:245px;
}

.column9 {
    left:280px;
}

.column10 {
    left:315px;
}

.column11 {
    left:350px;
}

.column12 {
    left:385px;
}

.column13 {
    left:420px;
}

.column14 {
    left:455px;
}

.column15 {
    left:490px;
}

.baseRow {
    bottom: 7px;
    z-index: 1;
}

.row1 {
    bottom:12px;
    z-index: 2;
}

.row2 {
    bottom:20px;
    z-index: 3;
}

.row3 {
    bottom:28px;
    z-index: 4;
}

.row4 {
    bottom:36px;
    z-index: 5;
}


.trackContainer .track.middleStep {
    background-color: #949494;
}

.trackLineContainer {
    width: 530px;
    height: 100px;
    float: left;
    margin: 3px 5px 10px 0px;
    position: relative;
}

.moveTrackMessage {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.diceBoxContainer {
    width: 505px;
    margin: 0px auto;
}

#dicePhaseContainer .diceBox {
    float: left;
    width: 40px;
    height: 69px;
    border-radius: 10px;
    position: relative;
    margin: 5px 12px 5px;
    padding: 0px 10px;
}

#dicePhaseContainer .diceBox .diceImg, #dicePhaseContainer .diceBox .selectedDice {
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    opacity: 1;
    transition: all 2s ease-in-out;
}

#dicePhaseContainer .diceBox .diceImg {
    z-index: 0;
}

#dicePhaseContainer .diceBox .selectedDice {
    z-index: 1;
}

#dicePhaseContainer .diceBox .diceAmount {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 23px!important;
    position: absolute;
    bottom: 0px;
    width: 40px;
}

#dicePhaseContainer .diceBox.rolledDice.activeDice {
    cursor:hand;
    cursor:pointer;
}

#dicePhaseContainer .diceBox.noDice, #dicePhaseContainer .diceImg.noDice {
    opacity: .3;
}

.median {
    position: absolute;
    width: 23px;
    top: -30px;
}

.median.left {
    left: -23px;
}

.median.middle {
    left: 20px;
}

.median.right {
    left: 61px;
}

.diceRoll {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#dicePhaseContainer .diceBox .diceImg.takeDie {
    top: -60px;
    opacity:0;
}

.chosenDiceImg {
    width: 65px;
    margin: 0 auto;
}

.chosenMarker {
    width: 38px;
    margin-left: -4px;
}

#currentInstructions {
    transition: all 1s ease-in-out;
    width: 410px;
    padding: 11px;
    margin: 10px auto;
    border-radius: 40px;
}

#currentInstructions p {
    font-size:19px!important;
    margin:0;
}

.bold {
    font-weight:bold;
}

.highlight {
    background-color: #FFFF00;
}

.highlightInactive {
    background-color: #FFF;
}

.increaseTrack, .increaseColor {
    color: #14da14!important
}

.decreaseTrack, .decreaseColor {
    color: red!important;
}

.noChangeTrack {
    color: #0576ff!important;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  #markerToMoveContainer {
    width: 370px;
    margin: 0px auto 0px;
  }

  #arrowsContainer {
    margin: 0 auto;
    width: 300px;
  }

  .markerMoveArrow {
    width: 90px;
    margin: 8px 30px 0px;
    cursor: hand;
    cursor: pointer;
    float: left;
  }

  #markerToMoveButtons[btns="2"] {
    width: 310px;
    margin: 0 auto;
  }

  #markerToMoveButtons[btns="3"] {
    width: 470px;
    margin: 0 auto;
  }

  

  #cancelMarkerToMove.btn, #nextMarkerToMove.btn, #confirmMarkerToMove.btn {
    float: left;
    width: 77px;
    margin: 6px 11px 0px;
  }

  .leftOverDice {
    width: 138px;
    margin: 0 auto;
    }

#actionPhaseLayer .leftOverDiceContainer .leftOverDiceTitle {
    font-size: 24px!important;
    margin: 0!important;
}

.actionPhaseInfo {
    width:500px;
    margin:0 auto;
}

.layer:not(#startLayer) p {
    font-size: 19px!important;
    margin: 0 0 0 0;
}

.leftOverDiceContainer {
    margin: 0px auto 0;
    width: 210px;
    float: right;
}

#actionPhaseLayer .roundInfo {
    width: 190px;
    float:left;
  }

  #actionPhaseLayer .roundInfo p {
    font-size: 24px!important;
    margin: 7px 0px;
  }

#actionPhaseLayer .diceBox {
    float: left;
    width: 29px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    margin: 11px 8px 5px;
    padding: 0px 0px;
}

#actionPhaseLayer .diceBox .diceImg {
    width: 30px;
    display: block;
}

.actionButtons {
    margin: 15px 0px 21px;
}

.actionButtons .btn {
    margin:0 auto;
}

#actionParentContainer {
    transition: opacity .5s ease-in-out;
}

.hideActions {
    opacity:0;
}

.showActions {
    opacity:1;
}

#allPriorityActionInfoContainer {
    position: relative;
    border: 1px solid #000;
    height: 310px;
    border-top: none;
}

.actionDetailContainer {
    width: 94%;
    padding: 20px;
    position: absolute;
    display: none;
}

.actionDetailContainer img {
    width: 280px;
    display: block;
    margin: 0px auto 14px;
}

#priorityParentContainer{

}

.priorityContainer {
    float: left;
    width: 214.65px;
    height: 65px;
    border: 1px solid #000;
    cursor:hand;
    cursor:pointer;
}

.chosenPriority {
    border-bottom: none;
}

.priorityTitle {
    padding: 10px 0px 10px 0px;
}

#priorityInstructions {
    margin: 12px 0px 19px!important;
}

.priorityText {
    float: left;
    width: 300px;
}

.actionDetailContainer .priorityText p {
    text-align: left!important;
    margin: 0 0 19px 0!important;
}

.priorityImage {
    float:right;
}

#devDiceRolls {
    position: absolute;
    width: 80px;
    height: 64px;
    padding: 10px 20px;
    margin: 10px 0px 0px 10px;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    transition: all 1s ease-in-out;
}

#devDiceRolls p {
    margin: 5px 0;
}

@media screen and (min-width: 600px) and (max-width: 949px) {


}

@media screen and (max-width: 599px) {


}
