.layer:not(#startLayer) p {
    font-size: 22px;
    margin: 0 0 0 0;
}

.confirmationBox.alertEl p {
    font-size: 22px!important;
}

/* #actionPhaseLayer.layer {
    margin: 15px auto 0!important;
} */

.buttons[btns="1"] {
    width: 215px;
}

#goalsTechParentContainer {
    margin: 30px 0px;
}

.techBoardContainer, .hqContainer {
    position:relative;
}

.techBoardContainer.techGoal img {
    width: 270px;
}

.hqContainer.techGoal img {
    width: 280px;
    margin-left: 36px;
}

.endGameGoalContainer.techGoal {
    margin-bottom: 28px;
}

.goalsTechTitle {
    font-size: 23px!important;
}

#randomizeGoalsTechsLayer .buttons .btn {
    float:left!important;
}

.techGoal {
    float:left;
}

.endGameGoalContainer.techGoal img {
    margin: 0 0 0 28px;
}

.techTier {
    position: absolute;
    right: 136px;
}

.techBoardContainer .techTier p, .hqContainer .hqBoardNum p {
    font-size: 44px!important;
    font-family: 'Prompt', sans-serif;
}

.techTier.tier1 {
    bottom: 50px;
}

.techTier.tier2 {
    bottom: 156px;
}

.techTier.tier3 {
    bottom: 282px;
}

.hqBoardNum {
    position: absolute;
    top: 31px;
    left: 114px;
}

.endGameGoalContainer img {
    width: 80px;
}

.confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] {
    width: 200px;
}

.confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] .btn {
    width: 92px;
}

.actionButtons {
    margin:0 auto;
}

.confirmationBox.firstPlayerAlert .buttons[btns="1"] {
    width: 180px;
}

.choosePlayColor {
    margin: 20px auto 0px;
    width: 396px;
    height: 38px;
}

.playerColorTitle, .sidColorTitle {
    float:left;
    margin: 4px 0px 0px 0px;
}

.colorChoicesContainer {
    position: relative;
    width: 260px;
    height: 40px;
    float: right;
    margin-left: 10px;
    margin-top: -3px;
}

.colorChoicesContainer .colorToken {
    width: 42px;
    margin: 0px 10px;
    float: left;
}

.colorChoicesContainer .colorToken.unchosen {
    opacity:.3;
    cursor:hand;
    cursor:pointer;
}

.colorChoicesContainer .colorToken.chosen {
    opacity:1;
}

#firstPlayer-container {
    margin: 30px auto 30px;
    display: block;
    width: 292px;
}

#firstPlayer-container p {
    margin: 5px 20px 0px 20px;
    font-size: 26px;
    line-height: 26px;
    float: left;
}

#firstPlayer {
    font-size: 20px;
    display: block;
    width: 135px;
    padding: 3px 6px 3px 16px;
    margin-right: 28px;
    float: right;
    margin-top: -3px;
}

#evenStartContainer {
    width: 400px;
    text-align: left;
    font-size: 20px;
    margin: 0 auto 30px;
    box-shadow: #999 1px 1px 5px;
    border-radius: 21px;
    padding: 10px 40px 0px;
    display: block;
    border: 2px solid #676767;
}

#evenStartContainer h3, .confirmationBox.alertEl.roundStartSummaryContainer h3 {
    text-align: center;
    padding: 0 0 0 0;
}

#evenStartContainer h3 {
    font-size: 24px;
    margin: 8px 0 10px 0;
}

.confirmationBox.alertEl.roundStartSummaryContainer h3 {
    font-size: 30px;
    margin: 30px 0 10px 0;
}

#evenStartContainer ul {
	padding: 0px 10px 15px 20px;
    margin: 15px 0px 0px 0px;
}

#evenStartContainer ul li {
	margin-bottom:9px;
	list-style:none;
}

#evenStart-container {
    margin: 20px auto 30px;
    display: block;
    width: 120px;
}

#evenStart-container p {
    margin: 0px 0px 0px 10px;
    font-style: italic;
    font-size: 26px;
    line-height: 26px;
    float: left;
}

.evenStartCheckbox {
    width: 28px;
    height: 28px;
    margin: 0px 10px 0px 0px;
    position: relative;
    float: left;
}

#evenStartCheckboxInput {
	display:none;
}

.evenStartCheckbox label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
 .evenStartCheckbox label:after {
	opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}


/**
 * Create the checkbox state for the tick
 */
.evenStartCheckbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

#dicePhaseLayer {
    width: 710px!important;
}

#dicePhaseContainer {
    width: 720px;
    margin: 0px auto 0px;
}

.rollDiceBtn {
    display: block;
    float: left;
}

.turnOrder {
    margin: 0 auto 0px;
    width: 420px;
    height: 44px;
}

.turnOrder .turnOrderTitle {
    float: left;
    margin: 0px 0px 0px 0px;
    font-size: 22px!important;
}

.turnOrderContainer {
    position: relative;
    width: 220px;
    height: 34px;
    float: left;
    margin-left: 18px;
    margin-top: -2px;
}

.turnOrderContainer .turnTick {
    position: absolute;
    top: -5px;
    width: 37px;
}

.turnOrderContainer .turnTick.tickNum1 {
    left: 2px;
}

.turnOrderContainer .turnTick.tickNum2 {
    left: 52px;
}

.turnOrderContainer .turnTick.tickNum3 {
    left: 102px;
}

.turnOrderContainer .turnTick.tickNum4 {
    left: 152px;
}

.trackContainerParent {
    width: 567px;
    height: 244px;
    margin: 10px auto 50px;
}

.trackContainerParent > .trackContainer > .trackLineContainer > .trackHeading {
    font-size: 22px!important;
    text-decoration: underline;
    margin: 0;
}

.trackContainer .track {
    margin-bottom: 2px;
    position: absolute;
}

.trackContainer .track img, .playerToken {
    width: 35px;
    transition: left 1.2s ease-in-out, bottom 1.2s ease-in-out;
}

.turnOrderContainer .orderToken {
    position: absolute;
    width: 38px;
    margin: 0px 0px;
    transition: left 1.5s ease-in-out;
}

.turnOrder1 {
    left: 0px;
}

.turnOrder2 {
    left: 50px;
}

.turnOrder3 {
    left: 100px;
}

.turnOrder4 {
    left: 150px;
}

.hoverTrackInfo {
    position: absolute;
    font-size: 17px!important;
    margin: 0;
    font-weight:bold;
    transition: opacity .5s ease-in-out;
}

.hoverTrackInfo.inactiveTrackInfo {
    opacity: 0;
}

.hoverTrackInfo.activeTrackInfo {
    opacity:1;
}

p.increaseTrack {
    left: 0px;
}

p.decreaseTrack {
    right: 0px;
}

.multipleSteps {
    display:none;
}

.column1 {
    left:0px;
}

.column2 {
    left:38px;
}

.column3 {
    left:76px;
}

.column4 {
    left:114px;
}

.column5 {
    left:152px;
}

.column6 {
    left:190px;
}

.column7 {
    left:228px;
}

.column8 {
    left:266px;
}

.column9 {
    left:304px;
}

.column10 {
    left:342px;
}

.column11 {
    left:380px;
}

.column12 {
    left:418px;
}

.column13 {
    left:456px;
}

.column14 {
    left:494px;
}

.column15 {
    left:532px;
}

.baseRow {
    bottom: 7px;
    z-index: 1;
}

.row1 {
    bottom:12px;
    z-index: 2;
}

.row2 {
    bottom:20px;
    z-index: 3;
}

.row3 {
    bottom:28px;
    z-index: 4;
}

.row4 {
    bottom:36px;
    z-index: 5;
}


.trackContainer .track.middleStep {
    background-color: #949494;
}

.trackLineContainer {
    width: 574px;
    height: 114px;
    float: left;
    margin: 3px 5px 10px 0px;
    position: relative;
}

.moveTrackMessage {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.diceBoxContainer {
    width: 565px;
    margin: 0px auto;
}

#dicePhaseContainer .diceBox {
    float: left;
    width: 50px;
    height: 94px;
    border-radius: 10px;
    position: relative;
    margin: 5px 12px 5px;
    padding: 0px 10px;
}

#dicePhaseContainer .diceBox .diceImg, #dicePhaseContainer .diceBox .selectedDice {
    width: 50px;
    display: block;
    position: absolute;
    top: 0;
    opacity: 1;
    transition: all 2s ease-in-out;
}

#dicePhaseContainer .diceBox .diceImg {
    z-index: 0;
}

#dicePhaseContainer .diceBox .selectedDice {
    z-index: 1;
}

#dicePhaseContainer .diceBox .diceAmount {
    margin: 0px 0px 0px 0px;
    font-size: 31px!important;
    position: absolute;
    bottom: 0px;
    width: 47px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

#dicePhaseContainer .diceBox .diceAmount .diceAmountX {
    font-size: 20px;
    margin-right: 2px;
}

#dicePhaseContainer .diceBox .diceAmount .diceAmountNum {
    font-weight: bold;
}

#dicePhaseContainer .diceBox.rolledDice.activeDice {
    cursor:hand;
    cursor:pointer;
}

#dicePhaseContainer .diceBox.noDice, #dicePhaseContainer .diceImg.noDice {
    opacity: .3;
}

.median {
    position: absolute;
    width: 34px;
    top: -41px;
}

.median.left {
    left: -29px;
}

.median.middle {
    left: 18px;
}

.median.right {
    left: 65px;
}

.diceRoll {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#dicePhaseContainer .diceBox .diceImg.takeDie {
    top: -60px;
    opacity:0;
}

.chosenDiceImg {
    width: 65px;
    margin: 0 auto;
}

.chosenMarker {
    width: 43px;
    margin-left: -4px;
}

#currentInstructions {
    transition: all 1s ease-in-out;
    width: 550px;
    padding: 11px;
    margin: 10px auto;
    border-radius: 40px;
}

#currentInstructions p {
    font-size: 22px!important;
    margin:0;
}

.bold {
    font-weight:bold;
}

.highlight {
    background-color: #FFFF00;
}

.highlightInactive {
    background-color: #FFF;
}

.increaseTrack, .increaseColor {
    color: #14da14!important
}

.decreaseTrack, .decreaseColor {
    color: red!important;
}

.noChangeTrack {
    color: #0576ff!important;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  #markerToMoveContainer {
    width: 370px;
    margin: 0px auto 0px;
  }

  #arrowsContainer {
    margin: 0 auto;
    width: 300px;
  }

  .markerMoveArrow {
    width: 90px;
    margin: 8px 30px 0px;
    cursor: hand;
    cursor: pointer;
    float: left;
  }

  #markerToMoveButtons[btns="1"] {
    width: 170px;
    margin: 0 auto;
  }

  #markerToMoveButtons[btns="2"] {
    width: 343px;
    margin: 0 auto;
  }

  #markerToMoveButtons[btns="3"] {
    width: 510px;
    margin: 0 auto;
  }

  #cancelMarkerToMove.btn, #nextMarkerToMove.btn, #confirmMarkerToMove.btn {
    float: left;
    width: 92px;
    margin: 6px 11px 0px;
  }

  .leftOverDice {
    width: 189px;
    margin: 0 auto;
    }

/* #actionPhaseLayer .leftOverDiceContainer .leftOverDiceTitle {
    font-size: 24px!important;
    margin: 0!important;
} */

#actionPhaseContainer {
    width: 420px;
    margin-left: 40px;
    float: left;
}

.actionPhaseInfo {
    width: 500px;
}

.leftOverDiceContainer, .playersDiceContainer {
    margin: 5px auto 0;
    width: 190px;
}

#actionPhaseLayer .roundInfo {
    width: 190px;
    float: left;
  }

  #actionPhaseLayer .roundInfo p {
    font-size: 24px!important;
    margin: 1px 0px 6px;
  }

  .playersDiceContainer .playersDice {
    margin-left: 32px;
}

  .playersDiceContainer .playersDice .diceBox {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    margin: 6px 11px 5px;
    padding: 0px 0px;
}
  
.leftOverDiceContainer .leftOverDice .diceBox {
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    position: relative;
    margin: 6px 9px 5px;
    padding: 0px 0px;
}

.leftOverDiceTitle {
    margin-top:15px!important;
}

#actionPhaseLayer .diceBox .diceImg {
    width: 45px;
    display: block;
}

.tooltip .tooltiptext {
    width: 338px!important;
}

.tooltiptext p, .tooltiptext li {
    font-size: 25px;
}

.actionButtons {
    margin: 25px auto 21px;
    width: 180px;
}

.actionButtons .btn {
    margin: 0 auto;
    width: 112px;
}

#actionParentContainer {
    transition: opacity .5s ease-in-out;
    width: 315px;
    height: 440px;
    margin: 11px auto 0;
    padding: 20px;
    border-radius: 34px;
    box-shadow: 5px 5px 3px #BBB;
    border: 3px double #fff;
    position: relative;
    overflow: hidden;
}

#backgroundStarImage.portrait {
    position: absolute;
    top: -230px;
    left: -10px;
    width: 499px;
}

#backgroundStarImage.landscape {
    position: absolute;
    top: -230px;
    left: -10px;
    width: 499px;
}

.hideActions {
    opacity:0;
}

.showActions {
    opacity:1;
}

#allPriorityActionInfoContainer {
    height: 310px;
    width: 490px;
    margin: 0 auto;
    border-top: none;
}

.actionDetailContainer {
    padding: 0px;
    margin: 0 auto;
    position:relative;
}

.actionDetailContainer .takePulsarImg, .actionDetailContainer .activatePulsarImg {
    width: 180px;
    display: block;
}

.actionDetailContainer .takePulsarImg {
    margin: 0px auto 57px;
}

.actionDetailContainer .activatePulsarImg {
    margin: 0px auto 57px;
}

.flyShipPlanetandPlanetOrPulsarImg {
    width: 263px;
    display: block;
    margin: -6px auto;
}

.flyShipPlanetImg {
    width: 153px;
    display: block;
    margin: 70px auto 0px;
}

.flyShipPlanetandPlanetPlanetPulsarImg {
    width: 313px;
    display: block;
    margin: 72px auto 0px;
}

.technology1Img, .technology2Img, .technology3Img, .technology4Img, .technology5Img, .technology6Img  {
    width: 240px;
    display: block;
    margin-left: 44px;
}

.transmitterActionImg {
    float: left;
    width: 139px;
    margin: 19px 9px 5px;
}

.mainPriorityActionImg {
    width: 350px;
}

.priorityDivider {
    position: absolute;
    bottom: -44px;
    left: 44%;
    width: 36px!important;
    margin: 0 0 0 0!important;
}

#priorityParentContainer{

}

.priorityContainer {
    float: left;
    width: 214.65px;
    height: 65px;
    border: 1px solid #000;
    cursor:hand;
    cursor:pointer;
}

.chosenPriority {
    border-bottom: none;
}

.priorityTitle {
    padding: 10px 0px 10px 0px;
}

#priorityInstructions {
    width: 360px;
    margin: 0 auto!important;
}

.priorityText {
    float: left;
    width: 330px;
}

.actionDetailContainer .priorityText p {
    text-align: left!important;
    margin: 0 0 19px 0!important;
}

.priorityImage {
    float:right;
}

#chosenRouteText {
    display:none;
}

#devDiceRolls {
    position: absolute;
    /* width: 98px; */
    /* height: 28px; */
    padding: 0px 8px;
    margin: 5px 0px 0px 5px;
    /* border: 1px solid #000; */
    font-size: 20px;
    text-align: center;
    transition: all 1s ease-in-out;
}

#currentInstructions .gameOver {
    color: red;
    font-size: 40px!important;
}

#devDiceRolls p {
    margin: 5px 0;
}

.confirmationBox.alertEl.roundStartSummaryContainer {
    top: 9%;
    margin-left: -305px;
    width: 610px;
}

.confirmationBox.alertEl.confirmMarkerSelection {
    margin-left: -280px;
    width: 560px;
}

.confirmationBox.alertEl.confirmMarkerSelection p {
    margin-bottom: 15px;
}

.helpToken {
    width: 28px;
    margin-right: 10px;
}

@media screen and (max-width: 949px) {
/* @media screen and (min-width: 600px) and (max-width: 949px) { */

    .layer:not(#startLayer) p {
        font-size: 3vw;
    }

    .goalsTechTitle {
        font-size: 2.6vw!important;
    }

    .techBoardContainer.techGoal img {
        width: 37vw;
    }

    #goalsTechParentContainer {
        margin: 5vw auto;
        width: 80vw;
    }

    .techTier {
        right: 18vw;
    }

    .techTier.tier3 {
        bottom: 40vw;
    }

    .techTier.tier2 {
        bottom: 23vw;
    }

    .techTier.tier1 {
        bottom: 8vw;
    }

    .endGameGoalContainer.techGoal {
        margin-bottom: 6vw;
        margin-left: -2vw;
    }

    .endGameGoalContainer.techGoal img {
        margin: 0 0 0 1vw;
    }
    
    .endGameGoalContainer img {
        width: 13vw;
    }

    .hqContainer.techGoal img {
        width: 34vw;
        margin-left: 3vw;
    }

    .hqBoardNum {
        top: 3vw;
        left: 12.5vw;
    }

    .techBoardContainer .techTier p, .hqContainer .hqBoardNum p {
        font-size: 6vw!important;
    }

    .choosePlayColor {
        margin: 3vw auto 1vw;
        width: 47vw;
        height: 4vw;
    }

    .colorChoicesContainer {
        width: 28vw;
        height: 4vw;
        margin-left: 2vw;
    }

    .colorChoicesContainer .colorToken {
        width: 5vw;
        margin: 0vw 1vw;
        float: left;
    }

    #firstPlayer-container {
        margin: 4vw auto 4vw;
        display: block;
        width: 40vw;
    }

    #firstPlayer {
        font-size: 2.5vw;
        width: 19vw;
        padding: .5vw 1vw .5vw 3vw;
        margin-right: 2vw;
    }

    #firstPlayer-container p {
        line-height: 3vw;
    }

    #evenStartContainer {
        width: 43vw;
        margin: 0 auto 4vw;
        box-shadow: #999 1px 1px 5px;
        border-radius: 5vw;
        padding: 2vw 5vw 0vw;
        border: .3vw solid #676767;
    }

    #evenStartContainer h3 {
        font-size: 3vw;
        margin: 1vw 0 2vw 0;
    }

    .evenStartCheckbox label {
        width: 4vw;
        height: 4vw;
    }

    .evenStartCheckbox {
        width: 4vw;
        height: 4vw;
        margin: 0vw 2vw 0vw 0vw;
    }

    .evenStartCheckbox label:after {
        width: 2.3vw;
        height: 1vw;
        top: .7vw;
        left: .7vw;
    }

    #evenStart-container {
        margin: 2vw auto 3vw;
        width: 17vw;
    }

    #evenStart-container p {
        line-height: 4vw;
    }

    .confirmationBox.alertEl p {
        font-size: 3vw!important;
    }

    #dicePhaseContainer {
        width: 76vw;
        margin: 0vw auto 0vw;
    }

    .turnOrder {
        margin: 4vw 0vw 0vw 12vw;
        width: 60vw;
        height: 6vw;
    }

    .turnOrder .turnOrderTitle {
        font-size: 3vw!important;
    }

    .turnOrderContainer .orderToken {
        width: 5vw;
        margin: 0vw 0vw;
    }

    .turnOrderContainer {
        width: 28vw;
        height: 5vw;
        margin-left: 2vw;
    }

    .turnOrder1 {
        left: 0vw;
    }

    .turnOrder2 {
        left: 7vw;
    }

    .turnOrder3 {
        left: 14vw;
    }

    .turnOrder4 {
        left: 21vw;
    }

    .trackContainerParent > .trackContainer > .trackLineContainer > .trackHeading {
        font-size: 3vw!important;
    }

    .trackContainerParent {
        width: 76vw;
        height: 40vw;
        margin: 2vw auto 2vw;
    }

    .trackLineContainer {
        width: 76vw;
        height: 16vw;
        float: left;
        margin: 3px 5px 10px 0px;
        position: relative;
    }

    .trackContainer .track img, .playerToken {
        width: 4.5vw;
    }

    .chosenMarker {
        width: 5.6vw!important;
        margin-left: -.5vw;
    }

    .column1 {
        left:0vw;
    }

    .column2 {
        left:5vw;
    }

    .column3 {
        left:10vw;
    }

    .column4 {
        left:15vw;
    }

    .column5 {
        left:20vw;
    }

    .column6 {
        left:25vw;
    }

    .column7 {
        left:30vw;
    }

    .column8 {
        left:35vw;
    }

    .column9 {
        left:40vw;
    }

    .column10 {
        left:45vw;
    }

    .column11 {
        left:50vw;
    }

    .column12 {
        left:55vw;
    }

    .column13 {
        left:60vw;
    }

    .column14 {
        left:65vw;
    }

    .column15 {
        left:70vw;
    }

    .baseRow {
        bottom: 1vw;
        z-index: 1;
    }

    .row1 {
        bottom: 1.5vw;
    }

    .row2 {
        bottom: 2.6vw;
    }

    .row3 {
        bottom: 3.7vw;
    }

    .row4 {
        bottom:4.8vw;
    }

    #dicePhaseLayer {
        width: 85vw!important;
    }

    .diceBoxContainer {
        width: 73vw;
        margin: 0vw auto;
    }

    #dicePhaseContainer .diceBox .diceImg, #dicePhaseContainer .diceBox .selectedDice {
        width: 6vw;
    }

    #dicePhaseContainer .diceBox {
        width: 6vw;
        height: 12vw;
        margin: 0vw 3vw 0vw;
        padding: 0vw 0vw;
    }

    #dicePhaseContainer .diceBox .diceAmount {
        margin: 0vw 0vw 0vw 0vw;
        font-size: 4vw!important;
        bottom: 0vw;
        width: 6vw;
    }

    #dicePhaseContainer .diceBox .diceAmount .diceAmountX {
        font-size: 3vw;
        margin-right: .2vw;
    }

    .median {
        width: 5vw;
        top: -6vw;
    }

    .median.left {
        left: -5.4vw;
    }

    .median.middle {
        left: 0.6vw;
    }

    .median.right {
        left: 6.6vw;
    }

    .turnOrderContainer .turnTick {
        top: -0.3vw;
        width: 4vw;
    }

    .turnOrderContainer .turnTick.tickNum1 {
        left: 0.6vw;
    }

    .turnOrderContainer .turnTick.tickNum2 {
        left: 7.6vw;
    }

    .turnOrderContainer .turnTick.tickNum3 {
        left: 14.6vw;
    }

    .turnOrderContainer .turnTick.tickNum4 {
        left: 21.6vw;
    }

    #markerToMoveButtons[btns="1"] {
        width: 22vw;
        margin: 0 auto;
    }

    #markerToMoveButtons[btns="2"] {
        width: 44vw;
        margin: 0 auto;
    }

    #cancelMarkerToMove.btn, #nextMarkerToMove.btn, #confirmMarkerToMove.btn {
        width: 12vw;
        margin: 0vw 2vw 0vw;
        padding: 1.4vw 2.9vw;
        font-size: 2.7vw;
        border-radius: 1vw;
    }

    #currentInstructions {
        width: 64vw;
        padding: 2vw;
        margin: 1vw auto;
    }

    #currentInstructions p {
        font-size: 3vw!important;
    }

    #actionPhaseLayer .roundInfo {
        width: 65vw;
        margin: 0 auto;
        float: none;
    }

    .confirmationBox.alertEl.confirmMarkerSelection a {
        width: 10vw!important;
        margin: 1vw 2vw 1vw!important;
    }

    .confirmationBox.alertEl.confirmMarkerSelection .buttons[btns="2"] {
        width: 44vw!important;
    }

    #actionPhaseLayer .roundInfo p {
        font-size: 3.2vw!important;
        margin: 0vw 0vw .5vw;
    }

    .leftOverDiceTitle {
        margin-top: 0vw!important;
    }

    .firstTurnParagraph, .playersDiceContainer {
        float:left;
    }

    .medianBonusParagraph, .leftOverDiceContainer {
        float:right;
    }

    .leftOverDiceContainer, .playersDiceContainer {
        margin: 0vw auto 0vw;
        width: 28vw;
    }

    .roundInfo .firstTurnParagraph, .roundInfo .medianBonusParagraph {
        width: 28.5vw;
    }

    .playersDiceContainer .playersDice .diceBox, .leftOverDiceContainer .leftOverDice .diceBox {
        width: 6vw;
        height: 6vw;
        margin: 0vw 1.1vw 0vw;
        padding: 0vw 0vw;
    }

    .playersDiceContainer .playersDice {
        margin: 0 auto;
        width: 16.7vw;
        height: 6vw;
    }

    #actionPhaseLayer .diceBox .diceImg {
        width: 5.8vw;
    }

    .leftOverDiceContainer .leftOverDice {
        width: 25vw;
        margin: 1vw auto 0vw;
    }

    .actionButtons {
        margin: 2vw auto 2vw;
        width: 23vw;
    }

    .actionButtons .btn {
        margin: 0 auto;
        font-size: 3vw;
        width: 16.5vw;
    }

    #priorityInstructions {
        width: 52vw;
    }

    #actionPhaseContainer {
        width: 72vw;
        margin: 0 auto;
        float: none;
    }

    #actionParentContainer {
        width: 42vw;
        height: 61vw;
        margin: 2vw auto 0;
        padding: 2vw;
        border-radius: 4vw;
        box-shadow: 1vw 1vw 1vw #BBB;
        border: .5vw double #fff;
    }

    .tooltip .tooltiptext {
        width: 44vw!important;
    }

    .tooltiptext p, .tooltiptext li {
        font-size: 3.2vw;
    }

    .priorityDivider {
        bottom: 2.5vw;
        left: 44%;
        width: 6vw!important;
        margin: 0 0 0 0!important;
    }

    .actionDetailContainer {
        height: 22vw;
    }

    .actionDetailContainer .takePulsarImg, .actionDetailContainer .activatePulsarImg {
        width: 23vw;
    }

    #backgroundStarImage.portrait {
        top: -18vw;
        left: -6vw;
        width: 67vw;
    }

    .confirmationBox.alertEl.roundStartSummaryContainer h3 {
        font-size: 4vw;
        margin: 2vw 0 1vw 0;
    }

    .flyShipPlanetImg {
        width: 24vw;
        margin: 0vw auto 0vw;
    }

    .flyShipPlanetandPlanetOrPulsarImg {
        width: 37vw;
        margin: -2vw auto 0vw;
    }

    .flyShipPlanetandPlanetPlanetPulsarImg {
        width: 40vw;
        margin: 0vw auto 0px;
    }

    .transmitterActionImg {
        width: 18.7vw;
        margin: 0vw 0vw 0vw 1.8vw;
    }

    .technology1Img, .technology2Img, .technology3Img, .technology4Img, .technology5Img, .technology6Img {
        width: 31vw;
        margin-left: 7vw;
    }

    #currentInstructions .gameOver {
        font-size: 6vw!important;
    }

    .confirmationBox.alertEl.confirmMarkerSelection {
        margin-left: -40vw;
        width: 80vw;
    }

    .confirmationBox.alertEl.roundStartSummaryContainer {
        margin-left: -45vw;
        width: 90vw;
    }

    #dicePhaseButton {
        width: 16.5vw;
    }

    .confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] {
        width: 28vw!important;
    }

    .confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] .btn {
        width: 14vw!important;
    }

    .helpToken {
        width: 4vw;
        margin-right: 1vw;
    }

}

@media screen and (max-width: 599px) {

    .layer:not(#startLayer) p {
        font-size: 5vw;
    }

    .actionButtons {
        margin: 3vw auto 3vw;
        width: 26vw;
    }

    .actionButtons .btn {
        font-size: 3.5vw;
        width: 22.5vw;
        padding: 2.1vw 1.3vw;
    }

    .confirmationBox.alertEl p {
        font-size: 4.5vw!important;
    }

    .goalsTechTitle {
        font-size: 3.9vw!important;
    }

    #randomizeGoalsTechsLayer .buttons .btn {
        float: left!important;
        font-size: 4.8vw;
        width: 28vw;
        margin: 0vw 2.6vw;
    }

    .colorChoicesContainer {
        width: 39vw;
        height: 7vw;
        margin-left: 2vw;
        margin-top: 0.6vw;
    }

    .colorChoicesContainer .colorToken {
        width: 7vw;
        margin: 0vw 1vw;
    }

    .choosePlayColor {
        margin: 5vw auto 1vw;
        width: 72vw;
        height: 6vw;
    }

    #firstPlayer-container {
        margin: 9vw auto 7vw;
        width: 62vw;
    }

    #firstPlayer {
        font-size: 4vw;
        width: 28vw;
        padding: .5vw 1vw .5vw 3vw;
        margin-right: 2vw;
        margin-top: -1.5vw;
    }

    #evenStartContainer {
        width: 73vw;
        margin: 0 auto 6vw;
        box-shadow: #999 1px 1px 5px;
        border-radius: 5vw;
        padding: 2vw 5vw 0vw;
        border: .3vw solid #676767;
    }

    #evenStartContainer h3 {
        font-size: 5vw;
        margin: 1vw 0 2vw 0;
    }

    #evenStart-container {
        margin: 5vw auto 5vw;
        width: 32vw;
    }

    .evenStartCheckbox {
        width: 8vw;
        height: 8vw;
        margin: 0vw 4vw 0vw 0vw;
    }

    .confirmationBox a {
        margin: 0vw 2.3vw 0px;
        padding: 2.8vw 7vw;
        font-size: 5vw;
        width: 12vw;
        float: left;
    }

    .evenStartCheckbox label {
        width: 7vw;
        height: 7vw;
        border: .5vw solid #ddd;
    }

    .evenStartCheckbox label:after {
        width: 4.7vw;
        height: 2vw;
        top: 1.2vw;
        left: .7vw;
        border: .8vw solid #333;
        border-top: none;
        border-right: none;
    }

    #evenStart-container p {
        line-height: 8vw;
    }

    #actionPhaseLayer .roundInfo p {
        font-size: 4.7vw!important;
        margin: 0vw 0vw 1vw;
    }
    
    .roundInfo .firstTurnParagraph, .roundInfo .medianBonusParagraph {
        width: 41vw;
    }
    
    .leftOverDiceContainer, .playersDiceContainer {
        margin: 0vw auto 0vw;
        width: 38vw;
    }

    .playersDiceContainer .playersDice {
        margin: 0 auto;
        width: 20.7vw;
        height: 8vw;
    }

    .leftOverDiceContainer .leftOverDice {
        width: 31vw;
        margin: 1vw auto 0vw;
    }

    .playersDiceContainer .playersDice .diceBox, .leftOverDiceContainer .leftOverDice .diceBox {
        width: 8vw;
        height: 8vw;
        margin: 0vw 1.1vw 0vw;
        padding: 0vw 0vw;
    }

    #actionPhaseLayer .diceBox .diceImg {
        width: 7.8vw;
    }

    .actionButtons {
        margin: 4vw auto 3vw;
        width: 34vw;
    }

    .actionButtons .btn {
        font-size: 4.5vw;
        width: 31.5vw;
        padding: 2.6vw 1.3vw;
    }

    #priorityInstructions {
        width: 82vw;
    }

    #actionPhaseContainer {
        width: 89vw;
        margin: 4vw auto 0vw;
        float: none;
    }

    #actionParentContainer {
        width: 55vw;
        height: 85vw;
        margin: 4vw auto 0;
        padding: 2vw;
        border-radius: 4vw;
        box-shadow: 1vw 1vw 1vw #BBB;
        border: .5vw double #fff;
    }

    #backgroundStarImage.portrait {
        top: -18vw;
        left: -6vw;
        width: 88vw;
    }

    .actionDetailContainer {
        height: 27vw;
        margin-top: 2vw;
    }

    .actionDetailContainer .takePulsarImg, .actionDetailContainer .activatePulsarImg {
        width: 34vw;
    }

    .priorityDivider {
        bottom: 1.5vw;
        left: 45%;
        width: 7vw!important;
        margin: 0 0 0 0!important;
    }

    .tooltip .tooltiptext {
        width: 57vw!important;
    }

    .confirmationBox.alertEl.confirmMarkerSelection .buttons[btns="2"] {
        width: 64vw!important;
    }

    .confirmationBox.alertEl.confirmMarkerSelection a {
        width: 18vw!important;
        margin: 1vw 2vw 1vw!important;
        padding: 2.8vw 5vw;
    }

    #actionPhaseLayer .roundInfo {
        width: 88vw;
        margin: 0 auto;
        float: none;
    }

    .diceBoxContainer {
        width: 85vw;
        margin: 0vw auto;
    }

    #dicePhaseContainer .diceBox {
        width: 10vw;
        height: 17.5vw;
        margin: 0vw 2vw 0vw 2vw;
        padding: 0vw 0vw;
    }

    #dicePhaseContainer .diceBox .diceImg, #dicePhaseContainer .diceBox .selectedDice {
        width: 10vw;
    }

    #dicePhaseContainer .diceBox .diceAmount {
        margin: 0vw 0vw 0vw 0vw;
        font-size: 5vw!important;
        bottom: 0vw;
        width: 10vw;
    }

    #dicePhaseContainer .diceBox .diceAmount .diceAmountX {
        font-size: 4vw;
        margin-right: .2vw;
    }

    #currentInstructions {
        width: 81vw;
        padding: 2vw;
        margin: 3vw auto 2vw;
    }

    #currentInstructions p {
        font-size: 4.5vw!important;
    }

    #dicePhaseContainer {
        width: 84vw;
        margin: 0vw auto 0vw;
    }

    .turnOrder {
        margin: 6vw auto 0vw;
        width: 82vw;
        height: 6vw;
    }

    .turnOrder .turnOrderTitle {
        font-size: 4.5vw!important;
    }

    .turnOrderContainer {
        width: 36vw;
        height: 5vw;
        margin-left: 2vw;
    }

    .turnOrderContainer .orderToken {
        width: 6.5vw;
        margin: 0vw 0vw;
    }

    .turnOrder1 {
        left: 0vw;
    }

    .turnOrder2 {
        left: 9vw;
    }

    .turnOrder3 {
        left: 18vw;
    }

    .turnOrder4 {
        left: 27vw;
    }

    .trackContainerParent {
        width: 76vw;
        height: 53vw;
        margin: 3vw auto 2vw;
    }

    .trackContainerParent > .trackContainer > .trackLineContainer > .trackHeading {
        font-size: 4.5vw!important;
    }

    .trackLineContainer {
        width: 91vw;
        height: 20vw;
        margin: 2vw 0vw 1vw -6vw;
    }

    .trackContainer .track img, .playerToken {
        width: 6vw;
    }

    .chosenMarker {
        width: 7.6vw!important;
        margin-left: -.83vw;
    }

    .column1 {
        left:0vw;
    }

    .column2 {
        left:6vw;
    }

    .column3 {
        left:12vw;
    }

    .column4 {
        left:18vw;
    }

    .column5 {
        left:24vw;
    }

    .column6 {
        left:30vw;
    }

    .column7 {
        left:36vw;
    }

    .column8 {
        left:42vw;
    }

    .column9 {
        left:48vw;
    }

    .column10 {
        left:54vw;
    }

    .column11 {
        left:60vw;
    }

    .column12 {
        left:66vw;
    }

    .column13 {
        left:72vw;
    }

    .column14 {
        left:78vw;
    }

    .column15 {
        left:84vw;
    }

    .baseRow {
        bottom: 1vw;
        z-index: 1;
    }

    .row1 {
        bottom: 2vw;
    }

    .row2 {
        bottom: 3.6vw;
    }

    .row3 {
        bottom: 5.2vw;
    }

    .row4 {
        bottom:6.8vw;
    }

    #markerToMoveButtons[btns="1"] {
        width: 38vw;
        margin: 0 auto;
    }

    #markerToMoveButtons[btns="2"] {
        width: 77vw;
        margin: 3vw auto 0vw;
    }

    #cancelMarkerToMove.btn, #nextMarkerToMove.btn, #confirmMarkerToMove.btn {
        width: 24vw;
        margin: 0vw 2vw 0vw;
        padding: 2.7vw 4.9vw;
        font-size: 5vw;
        border-radius: 2.1vw;
    }

    .median {
        width: 6vw;
        top: -7vw;
    }

    .median.left {
        left: -5vw;
    }

    .median.middle {
        left: 2.3vw;
    }

    .median.right {
        left: 9vw;
    }

    .confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] .btn {
        width: 20vw;
        padding: 2.8vw 7vw;
    }

    .turnOrderContainer .turnTick {
        top: -0.7vw;
        width: 6vw;
    }

    .turnOrderContainer .turnTick.tickNum1 {
        left: 0.6vw;
    }

    .turnOrderContainer .turnTick.tickNum2 {
        left: 9.6vw;
    }

    .turnOrderContainer .turnTick.tickNum3 {
        left: 18.6vw;
    }

    .turnOrderContainer .turnTick.tickNum4 {
        left: 27.6vw;
    }

    .flyShipPlanetImg {
        width: 31vw;
        margin: 0vw auto 0vw;
    }

    .flyShipPlanetandPlanetOrPulsarImg {
        width: 45vw;
        margin: -2vw auto 0vw;
    }

    .flyShipPlanetandPlanetPlanetPulsarImg {
        width: 52vw;
        margin: 0vw auto 0px;
    }

    .transmitterActionImg {
        width: 25.7vw;
        margin: 0vw 0vw 0vw 1.8vw;
    }

    .technology1Img, .technology2Img, .technology3Img, .technology4Img, .technology5Img, .technology6Img {
        width: 43vw;
        margin-left: 8vw;
    }

    .confirmationBox.alertEl.roundStartSummaryContainer h3 {
        font-size: 5vw;
        margin: 5vw 0 1vw 0;
    }

    #currentInstructions .gameOver {
        font-size: 7.5vw!important;
    }

    .confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] {
        width: 39vw!important;
    }

    .confirmationBox.alertEl.roundStartSummaryContainer .buttons[btns="1"] .btn {
        width: 20vw!important;
    }

    #dicePhaseButton {
        width: 31.5vw;
    }

    .helpToken {
        width: 5vw;
        margin-right: 2vw;
    }

}
