#cardArea {
	width: 410px;
	padding-top: 0px;
}

.tooltiptext p, .tooltiptext li {
    font-size: 18px;
}

.slide-card-container {
    position: relative;
    overflow: hidden;
    width: 379px;
	height: 380px;
	padding: 10px 0px;
}

.slide-card {
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 2px 2px 8px #AAA;
	width: 270px;
	top:0;
	position:absolute;
}

.slide-card.startToMain {
	-webkit-animation: startToMainAnimation 1s ease-in-out forwards;
    animation: startToMainAnimation 1s ease-in-out forwards;
}

@-webkit-keyframes startToMainAnimation {
    0% {left:-281px}
    100% {left:0px}
}

@keyframes startToMainAnimation {
    0% {left:-281px}
    100% {left:0px}
}

.slide-card.startToMain {
	-webkit-animation: startToMainAnimation 1s ease-in-out forwards;
    animation: startToMainAnimation 1s ease-in-out forwards;
}

@-webkit-keyframes startToMainAnimation {
    0% {left:-281px}
    100% {left:0px}
}

@keyframes startToMainAnimation {
    0% {left:-281px}
    100% {left:0px}
}

.slide-card.mainToSupport {
	-webkit-animation: mainToSupportAnimation 1s ease-in-out forwards;
    animation: mainToSupportAnimation 1s ease-in-out forwards;
}

@-webkit-keyframes mainToSupportAnimation {
    0% {left:0px}
    100% {left:274px}
}

@keyframes mainToSupportAnimation {
    0% {left:0px}
    100% {left:274px}
}

.slide-card.supportToExit {
	-webkit-animation: supportToExitAnimation 1s ease-in-out forwards;
    animation: supportToExitAnimation 1s ease-in-out forwards;
}

@-webkit-keyframes supportToExitAnimation {
    0% {left:274px}
    100% {left:565px}
}

@keyframes supportToExitAnimation {
    0% {left:274px}
    100% {left:565px}
}

.slide-card .supportColumn, .slide-card .actionColumn, .slide-card .actionColumn, .slide-card .tooltip {
	opacity: 1;
	-webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.slide-card.startToMain .supportColumn, .slide-card.mainToSupport .actionColumn, .slide-card.supportToExit .actionColumn, .slide-card.supportToExit .supportColumn {
    opacity: 0.15;
}

.slide-card.mainToSupport .tooltip, .slide-card.supportToExit .tooltip {
    opacity: 0;
}

.gameActionInfo {
    width: 220px;
}

.tooltip .tooltiptext {
    width: 256px;
}

.cardID {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 32px 0px 20px;
    width: 63px;
	font-family: Helvetica;
}

.supportCardPos {
	left: 190px;
}

.greenID {
	background-color: #58985b;
	color:#EEE;
}

.whiteID {
	background-color: #FFF;
	color:#000;
}

.blackID {
	background-color: #000;
	color:#EEE;
}

.pinkID {
	background-color: #ee8aae;
	color:#EEE;
}

.helpImage {
    width: 45px;
    right: 4px;
    top: 1px;
}

.slideCardContent {
    width: 300px;
    height: 390px;
	background-color: #e7e7e8;
}

.cardColumn {
	position:absolute;
	bottom:0;
}

.supportColumn {
    width: 100px;
    left: 0;
}

.actionColumn {
	width: 165px;
    margin-right: 0px;
    right: 0;
}

.supportBox, .actionBox {
    height: 70px;
    padding-top: 10px;
}

.supportBox0 {
	margin-left:10px;
}

.actionBox0 {
	margin-right:10px;
}

.supportBox0, .actionBox0 {
	margin-bottom:10px;
}

.supportBox0, .supportBox2, .actionBox0, .actionBox2 {
	background-color: #FFF;
}

.supportBox1, .actionBox1 {
	background-color: #231f20;
}

.cardColumn img {
    height: 60px;
    display: block;
    margin: 0px auto 0;
}

#tierSelectionLayer .btn {
	float:none;
	margin:0 auto;
}

#tierSelectionLayer {
	display:none;
	width: 401px;
    margin: 0 auto 30px;
    font-size: 22px;
}

#difficultyExplanation {
    font-size: 20px;
    width: 310px;
    margin: 0 auto 30px;
    text-align: center;
}

.slider {
    width: 62%;
    margin: 0 auto;
    display: block;
}

.difficultyLevelText {
	display:none;
}


input[type=range] {
    -webkit-appearance: none;
    margin: 38px auto 50px;
    width: 54%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 50px;
	width: 25px;
	margin-top:-20px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	/* margin-top: -14px; */
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 50px;
	width: 25px;
	margin-top:-20px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 50px;
	width: 25px;
	margin-top:-20px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
	background: #367ebd;
}

#levelContainer {
	width: 340px;
	text-align: left;
	font-size: 20px;
    margin: 0 auto 50px;
    box-shadow: #999 1px 1px 5px;
    border-radius: 21px;
    padding: 10px 10px 0px;
    display: block;
    border: 2px solid #676767;
    background-color: rgba(0, 255, 0, 0.6);
}

#levelContainer h3 {
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 29px;
}

#levelContainer ul {
	padding: 0px 10px 15px 20px;
    margin: 15px 0px 0px 0px;
}

#levelContainer ul li {
	margin-bottom:9px;
	list-style:none;
}

.breezeBarSkyLoungeIcon {
    width: 60px;
}

#humanPlayerContainer {
    margin: 0 auto;
    width: 337px;
}

#humanPlayers {
    float: left;
    margin-top: 24px;
}

#humanPlayersSelect {
    margin: 20px 50px 0px 0px;
    font-size: 20px;
    display: block;
    width: 130px;
    padding: 5px 10px;
    float: right;
}

#humanFactionContainer, #automaPlayerContainer {
    width: 440px;
    margin: 0 auto;
}

.activeInactiveHumanFaction, .automaFaction {
    width: 200px;
    margin:10px;
}

#humanActiveFactionContainer, #blackAutomaContainer {
    float:left;
}

#humanInactiveFactionContainer, #whiteAutomaContainer {
    float:right;
}

.humanFactionStatus, .automaFactionStatus {
    width:100%;
    text-align:center;
    margin: 5px 0 5px;
}

.humanFactionList, .automaFactionList {
    margin: 12px auto 5px;
    font-size: 20px;
    display: block;
    width: 180px;
    padding: 5px 10px;
}

#factionSelectionButtons[btns="2"] {
    width: 368px;
    margin: 40px auto 0;
}

#factionSelectionButtons .btn {
    float: left;
    margin: 0px 12px;
    width: 104px;
}

.errorMessage {
    color:red;
    font-weight:bold;
    display:none;
    font-family: 'Prompt', sans-serif;
    width:100%;
    text-align:center;
}

@media screen and (min-width: 600px) and (max-width: 949px) {

    .gameActionInfo {
        width: 100%;
    }

    .slide-card-container {
        width: 80vw;
        height: 62vw;
        padding: 0vw 0vw;
    }

    .slideCardContent {
        width: 40vw;
        height: 61.5vw;
    }

    .slide-card {
        border-radius: 3vw;
        width: 40vw;
    }

    #cardArea {
        width: 80vw;
        padding-top: 0vw;
    }

    #levelContainer {
		width: 48vw;
		margin: 7vw auto 4vw;
		font-size: 4vw;
		border-radius: 3vw;
		padding: 2vw;
		border: .3vw solid #676767;
	}

	#levelContainer h3 {
		font-size: 4vw;
	}

	#levelContainer ul {
		padding: 0vw 1vw 1vw 2vw;
		margin: 2vw 0px 0px 0px;
	}

	#levelContainer ul li {
		font-size: 2.9vw;
		margin-bottom: 1.6vw;
    }
    
    @-webkit-keyframes startToMainAnimation {
        0% {left:-40vw}
        100% {left:0vw}
    }

    @keyframes startToMainAnimation {
        0% {left:-40vw}
        100% {left:0vw}
    }

    @-webkit-keyframes mainToSupportAnimation {
        0% {left:0vw}
        100% {left:40vw}
    }

    @keyframes mainToSupportAnimation {
        0% {left:0vw}
        100% {left:40vw}
    }

    @-webkit-keyframes supportToExitAnimation {
        0% {left:40vw}
        100% {left:80vw}
    }

    @keyframes supportToExitAnimation {
        0% {left:40vw}
        100% {left:80vw}
    }

    .cardID {
        padding: 5vw 0vw 5vw;
        width: 10vw;
        font-size: 2.5vw;
    }

    .actionColumn {
        width: 23vw;
        margin-right: 0vw;
        right: 0vw;
    }

    .supportColumn {
        width: 15vw;
    }

    .supportBox, .actionBox {
        height: 11vw;
        padding-top: 2vw;
    }

    .cardColumn img {
        height: 8vw;
    }

    .helpImage {
        width: 7vw;
        right: .5vw;
        top: .5vw;
    }

    .tooltip .tooltiptext {
        width: 38vw;
    }

    #factionSelectionButtons[btns="2"] {
        width: 45vw!important;
        margin: 4vw auto 0;
    }

    #factionSelectionButtons .btn {
        margin: 0vw 1.2vw;
        width: 14vw;
    }

    #humanPlayerContainer {
        width: 36vw;
    }

    #humanPlayersSelect {
        margin: 2.5vw 2vw 0vw 0vw;
        font-size: 2.5vw;
        width: 13vw;
        padding: .5vw 2vw;
    }

    #humanPlayers {
        margin-top: 3vw;
    }
    
    #humanFactionContainer, #automaPlayerContainer {
        width: 54vw;
    }

    .activeInactiveHumanFaction, .automaFaction {
        width: 24vw;
        margin: 1.5vw;
    }

    .humanFactionStatus, .automaFactionStatus {
        margin: 1vw 0;
    }

    .humanFactionList, .automaFactionList {
        margin: 2vw auto 1vw;
        font-size: 2.4vw;
        width: 21vw;
        padding: 1vw 2vw;
    }

    h2.factionSelectionCategory {
        font-size: 3.5vw;
    }

}

@media screen and (max-width: 599px) {

    #cardArea {
        width: 91vw;
        padding-top: 0vw;
    }

    .slide-card-container {
        width: 86.5vw;
        height: 90vw;
        padding: 1vw 0vw;
        margin: 0 auto;
    }

    .slide-card {
        border-radius: 4vw;
        width: 63vw;
    }

    .slideCardContent {
        width: 63vw;
        height: 90vw;
        font-size: 4vw;
    }

    .supportColumn {
        width: 22vw;
        left: 0;
    }

    .supportBox, .actionBox {
        height: 16vw;
        padding-top: 3vw;
    }

    .actionColumn {
        width: 34vw;
    }

    .cardColumn img {
        height: 13vw;
    }

    .cardID {
        padding: 9vw 0vw 6vw;
        width: 18vw;
    }

    .gameActionInfo {
        width: 100%;
    }

	input[type=range] {
		width: 72%;
	}
	
	#levelContainer {
		width: 70vw;
		margin: 2vw auto 6vw;
		font-size: 4vw;
		box-shadow: #999 0.1vw 0.1vw 1vw;
		border-radius: 6vw;
		padding: 2vw;
		border: .2vw solid #676767;
	}

	#levelContainer h3 {
		font-size: 6vw;
		margin-top: 1vw;
	}

	#levelContainer ul {
		padding: 0vw 3vw 2vw 4vw;
		margin: 3vw 0px 0px 0px;
	}

	#levelContainer ul li {
		font-size: 4.3vw;
		margin-bottom: 2.6vw;
	}

	.layer:not(#startLayer) p {
		text-align: center;
		font-size: 5vw;
	}
	
    input[type=range]::-webkit-slider-thumb {
        height: 12vw;
        width: 6.5vw;
        margin-top:-5vw;
        border-radius: .5vw;
    }

    input[type=range]::-moz-range-thumb {
        height: 12vw;
        width: 6.5vw;
        margin-top:-5vw;
        border-radius: .5vw;
    }

    input[type=range]::-ms-thumb {
        height: 12vw;
        width: 6.5vw;
        margin-top:-5vw;
        border-radius: .5vw;
    }

    .helpImage {
        width: 11vw;
        right: 1vw;
        top: 1vw;
    }

    .tooltip .tooltiptext {
        width: 62vw;
    }

    @-webkit-keyframes startToMainAnimation {
        0% {left:-63.1vw}
        100% {left:0vw}
    }

    @keyframes startToMainAnimation {
        0% {left:-63.1vw}
        100% {left:0vw}
    }

    @-webkit-keyframes mainToSupportAnimation {
        0% {left:0vw}
        100% {left:63.1vw}
    }

    @keyframes mainToSupportAnimation {
        0% {left:0vw}
        100% {left:63.1vw}
    }

    @-webkit-keyframes supportToExitAnimation {
        0% {left:63.1vw}
        100% {left:126.2vw}
    }

    @keyframes supportToExitAnimation {
        0% {left:63.1vw}
        100% {left:126.2vw}
    }

    #factionSelectionButtons[btns="2"] {
        width: 74vw;
        margin: 7vw auto 0;
    }

    #factionSelectionButtons .btn {
        float: left;
        margin: 2vw 2vw 4vw;
        width: 30vw;
    }

    #humanPlayerContainer {
        width: 56vw;
    }

    #humanPlayers {
        margin-top: 3vw;
    }

    #humanPlayersSelect {
        margin: 2.5vw 2vw 0vw 0vw;
        font-size: 3.5vw;
        width: 18vw;
        padding: .9vw 2vw;
    }

    #humanFactionContainer, #automaPlayerContainer {
        width: 86vw;
    }

    .activeInactiveHumanFaction, .automaFaction {
        width: 38vw;
        margin: 1.5vw;
    }

    .humanFactionStatus, .automaFactionStatus {
        font-size: 4.5vw;
        margin: 1vw 0;
    }

    .humanFactionList, .automaFactionList {
        margin: 2vw auto 1vw;
        font-size: 3.9vw;
        width: 35vw;
        padding: 1vw 2vw;
    }

    h2.factionSelectionCategory {
        font-size: 5.5vw;
    }

}
